= f.input :rwa_number, required: true, wrapper_html: { data: { filter_key: 'expense-type', filter_value: 'BA80' } }
= f.input :code, required: true, wrapper_html: { data: { filter_key: 'expense-type', filter_value: 'BA80' } }
