.medium-12.column.edit-mode.new-form-wrapper
  .card#request-details-card
    - if @client_data_instance
      .card-head.column
        %h2
          Request Details
      .content-content.column#view-request-details
        .row
          = render 'ncr/work_orders/form_new', locals: { client_slug: "ncr" }
