#ncr-layout
  %table.w-container.main-container{ width: "800" }
    %tr
      %td
        %h1.c2_header
          = link_to proposal.name, proposal_url(proposal),  { target: "C2" }
        .c2_description
          %p
            Requested by:
            %strong= proposal.requester.full_name

    = render partial: "shared/email_status"

    %tr
      %td
        = client_partial(proposal.client_slug,
          "proposal_properties",
            locals: { proposal: proposal })
