<div id="ncr-layout">
  <table class="w-container main-container" width='800'>
    <tr>
      <td>
        <h1 class="communicart_header"> 
          <%= link_to proposal.name, proposal_url(proposal),  {target: 'C2', 'aria-label' => 'opens in a new window'} %>
        </h1>
        <div class="communicart_description">
          <p>
            Requested by:
            <strong><%= proposal.requester.full_name %></strong>
          </p>
        </div>
      </td>
    </tr>

    <%= render partial: "shared/email_status" %>

    <tr>
      <td>
        <%= client_partial(proposal.client, 'proposal_properties',
                           locals: {proposal: proposal}) %>
      </td>
    </tr>
  </table>
</div>
