- content_for :header_icon, "emails/icon-pencil-circle.png"
- top_head = t("mailer.observer_mailer.observer_removed_notification.header")
- cta_subheader = t("mailer.observer_mailer.observer_removed_notification.body_html",
    public_id: @proposal.public_id, full_name: @proposal.requester.full_name)

%table.container
  = render partial: "mail_shared/email_header/hero_text",
    locals: { text: top_head }

  = render partial: "mail_shared/call_to_action/subheader",
    locals: { subheader: cta_subheader, vertical: 'no-top-margin' }
