%table.full-width.header
  %tr 
    %td.hero
    %td 
      = image_tag "emails/icon-pencil-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr 
    %td.header
      = t("mailer.observer_mailer.observer_removed_confirmation.header")

%table.two-thirds-width
  %tr 
    %td.subheader
      = t("mailer.observer_mailer.observer_removed_confirmation.body")
