= t("mailer.observer_mailer.proposal_complete.header")
= render partial: "mail_shared/panel/proposal_attributes",
  locals: { proposal: @proposal }
= render partial: "mail_shared/proposal_button",
  locals: { button_text: t("mailer.view_request_cta") }
