
<% @groups.map do |ag| %>
    <div class="ag_display">
      <h3> <%= ag.name %> </h3>
      <table>
        <% ag.user_roles.each do |role| %>
            <tr>
              <td><%= role.user.email_address %></td>
              <td><%= role.role %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>