<div class="row">
<div class="ag_display">
  <div class="col-sm-6 col-xs-12">
    <h3> <%= @approval_group.name %> </h3>
  </div>
  <div class="col-sm-6 col-xs-12">
    <table>
      <% @approval_group.user_roles.each do |role| %>
        <tr>
          <td><%= role.user.email_address %></td>
          <td><%= role.role %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</div>