%div
  %p
    = t("mailer.greeting", name: @proposal.requester.full_name)
    ,
    %br
      = t("mailer.cancellation_mailer.cancellation_confirmation.body",
        name: @proposal.name,
        public_id: @proposal.public_id)

%p
  %strong
    = link_to(t("mailer.proposal_link"), proposal_url(@proposal))
