.email-status {
  strong {
    text-transform: uppercase;
  }

  table#status-container-detail {
    background-color: #fff;
    margin: 15px;
    padding: 15px;
  }

  .status-header-container td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
}
