.email-status {
  strong {
    text-transform: uppercase;
  }

  table#status-container-detail {
    background-color: #fff;
    margin: 15px;
    padding: 15px;
  }

  .status-header-container td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    &:last-child {
      text-align: right;
    }
  }

  .status-icon {
    position: relative;
    left: -7px;
    vertical-align: -2px;
  }

  .approval-row > td {
    padding-right: 60px;
  }

  .spacer-row {
    height: 20px;

    // TODO verify colors
    .status-approved-line {
      border-left: 2px solid #4cad4b;
    }
    .status-pending-line {
      border-left: 2px solid #ffaa18;
    }
    .status-rejected-line {
      border-left: 2px solid #ff562f;
    }
  }
}
