.email-status {
  strong {
    text-transform: uppercase;
  }

  table#status-container-detail {
    background-color: #fff;
    margin: 15px;
    padding: 15px;

    table.approval_details {
      padding-top: 25px;
    }
  }

  .status-header-container td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    &:last-child {
      text-align: right;
    }

    .status-icon {
      padding-bottom: 5px;
    }
  }

  .status-icon {
    position: relative;
    padding-bottom: 35px;
  }

  .approval-row > td {
    vertical-align: top;
    padding: 0 60px 0 0;

    &.last {
      img.approved, img.pending, img.rejected {
        background-image: none;
      }

      img {
        padding-top: 0;
      }
    }

    &.first {
      padding: 0;

      img {
        padding-top: 0;
      }
    }

    img {
      float: left;
      padding-top: 2px;
      &.approved {
        background-image: image-url('bg_approved_status.gif');
      }

      &.pending {
        background-image: image-url('bg_pending_status.gif');
      }

      &.rejected {
        background-image: image-url('bg_rejected_status.gif');
      }
    }

    ul {
        display: inline-block;
        padding: 0 0 0 7px;
        margin: 0;
      li {
        display: inline-block;
      }
    }
  }
}
