.inset
  %h1 
    Sign in problem

  %h4
    There was a problem signing you in. Please
    = link_to "try signing in with MyUSA again.", auth_path

  .inset
  The C2 application requires authentication via the MyUSA service.
  In order for C2 to work correctly, you must allow MyUSA to share your email
  address with C2.
