.inset
  %h1
    Sign in problem

  %h4
    There was a problem signing you in. Please try signing in again.

  .inset
  The C2 application requires authentication via the Cloud.gov services.
  In order for C2 to work correctly, you must allow your email
  address to be shared with C2.
