%li
  = link_to "New purchase request", new_gsa18f_procurement_path, class: "new-request-button"
  - if ENV["BETA_18F_TRAINING"] == "true"
    = link_to "New training request", new_gsa18f_training_path, class: "new-request-button"
= render 'layouts/sidebar_shared'
