%li
  = link_to "New purchase request", new_gsa18f_procurement_path, class: "new-request-button"
  = link_to "New training request", new_gsa18f_procurement_path, class: "new-request-button"
= render 'layouts/sidebar_shared'
