- active_class = " active" if controller_name == "gsa18f-events" || controller_name == "gsa18f-procurements" && params[:action] == "action-new"
%li.new-request-procurements
  = link_to "New purchase request", new_gsa18f_procurement_path, class: "new-request-button" + active_class
- if ENV["BETA_18F_TRAINING"] == "true"
  %li.new-request-events
    = link_to "New event request", new_gsa18f_event_path, class: "new-request-button" + active_class
= render 'layouts/sidebar_shared'
