- i = 0
- @proposal.new_fields_for_display.each do |field|
  - key = field[:key]
  - data = {}
  - data[:f] = @form
  - data[:proposal] = @proposal
  - data[:key] = key
  - data[:t_slug] = "decorators." + @proposal.client_slug + "/procurement."
  - data[:client_slug] = @current_user.client_slug
  - data[:client_data] = @client_data_instance
  - data[:client_id] = @client_data_instance.id.to_s
  - data[:client_field] = blank_field_default(@client_data_instance[key]['edit'])
  - data[:client_display] = blank_field_default(@client_data_instance[key]['value'])
  - data[:value_id] = key + '-' + @client_data_instance.id.to_s



  = render partial: field[:partial], locals: data

  - i = i + 1

