- i = 0
- @proposal.new_fields_for_display.each do |field|
  - key = field[:key]
  - data = { |
    f: @form, |
    proposal: @proposal,
    key: key,
    t_slug: "decorators." + @proposal.client_slug + "/work_order.",
    client_slug: @current_user.client_slug,
    client_data: @client_data_instance,
    client_id: @client_data_instance.id.to_s,
    client_field: blank_field_default(client_data[key]),
    value_id: key + '-' + @client_data_instance.id.to_s }

  - if i == 0
    :plain
      <div class="grid-layout">

  = render partial: field[:partial], locals: data

  - i = i + 1

:plain
</div>
