html{
  height: 100%;
}

body{
  min-height: 100%;
  position: relative;
}

.beta-list .form-group.contains-field{
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

body.beta-list{
  background: #f7f7f7;
}

.content-wrap-level{
  padding-left: 15px;
  padding-right: 15px;
}

.content-parent #footer{
  margin-top: 1em;
}

.input-group-addon.magnifier {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

a.button{
  &:hover{
    background: darken($primary-color, 15%);
    text-decoration: none;
  }
  outline: none;
  &:focus{
    outline: none;
  }
}

ul#breadcrumb-nav{
  margin: 0px;
  width: auto;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  li{
    display: none;
  }
}

a.button.secondary:focus{
  color: $primary-color;
}

p{
  color: $dark-gray;
}

label.attachment-container{
  display: inline;
  a{
    margin: 0px !important;
  }
}

.callout.primary.primary{
  background: $backgroundColor;
}

.plus{
  font-size: 18px;
  line-height: 7px;
}

a.button.secondary,
input.button.secondary,
button.button.secondary,
label.button.secondary
{
  border: 1px solid $primary-color;
  color: $primary-color;
  &:hover, &:focus{
    color: white;
    background: $primary-color;
  }
}

.button-back-wrapper a.button.secondary{
  &:hover{
    color: white;
    background: $primary-color;
  }
}

a.status-toggle-all{
  border-radius: 50px;
}

input[type="submit"].button,
button[type="submit"].button
{
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out, opacity .3s ease-in;;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, opacity .3s ease-in;;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0.45em 1.6em;
  margin: 0 0 1rem 0;
  font-size: 0.8rem;
  background-color: $primary-color;
  color: #fefefe;
}

.fr{
  float: right;
}

.fl{
  float: left;
}

.right-border{
  border-right: 1px solid lighten($primary-color, 35%);
}

.left-border{
  border-left: 1px solid lighten($primary-color, 35%);
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.no-padding-bottom{
  padding-bottom: 0px !important;
}

.callout .callout.primary{
  .view-mode & {
    background: darken(#C5DCED, 4%);
  }

  .edit-mode & {
    padding: 0;
  }
}

.holo-chevron > div{
  position: relative;
  &:after{
    position: absolute;
    right: 11px;
    top: 6px;
    content: image-url('chevron-down.svg');
    z-index: 9;
    pointer-events: none;
  } 
}

.selectize-control.single .selectize-input:after {
  display: none;
}

.selectize-control{
  &:after{
    position: absolute;
    right: 11px;
    top: 9px;
    content: image-url('chevron-down.svg');
    z-index: 9;
    pointer-events: none;
  } 
}
