body.action-show{
  background: #f7f7f7;
}

.content-wrap-level{
  padding-left: 15px;
  padding-right: 15px;
}

a.button{
  &:hover{
    background: darken($primary-color, 15%);
  }
}

label.attachment-container{
  display: inline;
  a{
    margin: 0px !important;
  }
}

.callout.primary.primary{
  background: $backgroundColor;
}

.plus{
  font-size: 18px;
  line-height: 7px;
}

a.button.secondary,
input.button.secondary
{
  border: 1px solid $primary-color;
  color: $primary-color;
  &:hover{
    color: white;
    background: $primary-color;
  }
}

.fr{
  float: right;
}

.fl{
  float: left;
}

.right-border{
  border-right: 1px solid lighten($primary-color, 35%);
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.no-padding-bottom{
  padding-bottom: 0px !important;
}

.callout .callout.primary{
  background: darken(#C5DCED, 4%);
}
