.c2n_description p{
  margin-bottom: 0px;
  font-size: 14px;
}

.status-bar{
  display: block;
  height: 5px;
  opacity: .8;
  &.status-is-pending{
    background: #F7DB7D;
  }
  &.status-is-completed{
    background: #9CD984;
  }
  &.status-is-canceled{
    background: #D8D8D8;
  }
}

.view-mode .summary-card{
  .detail-value{ display: inline-block; }
  .detail-edit{ display: none; }
}
.edit-mode .summary-card{
  .detail-edit{ display: inline-block; }
  .detail-value{ display: none; }
}
.summary-card{
  .detail-edit{
    min-width: 75%;
  }
  .c2n_header {
    .detail-value{
      font-size: 28px;
      vertical-align: sub;
      vertical-align: -webkit-baseline-middle;
      height: 39px;
    }
    .form-group{
      margin-bottom: 0px;
    }
    .detail-edit textarea{
      height: 39px;
    }
    .detail-edit input[type=text],
    .detail-edit textarea{
      padding: 0px 7px;
      background: #305F7E;
      border: none;
      outline: none;
      color: white;
      font-size: 28px;
      font-weight: 800;
      display: inline-block;
      vertical-align: top;
      margin-left: -7px;
      margin-top: 0px;
      margin-bottom: 3px;
    }
  }
  span.edit-icon{
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("/assets/icon-edit-light.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -3px;
      top: 0px;
      background-size: contain;
    }
  }
  .header-edit-text{
    transition: all .2s ease;
    height: 35px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 17px;
    vertical-align: sub;
    vertical-align: -webkit-baseline-middle;
    &:hover{
      background: #2F5E7E;
      border: 1px solid #5F8CAE;
      padding-left: 19px;
      .edit-button{
        opacity: 1;
        width: auto;
      }
    }
    .edit-button{
      transition: all .2s ease;
      opacity: 0;
      width: 0px;
      overflow-x: hidden;
      font-size: 13px;
      font-weight: 300;
      color: #C5DCED;
      height: 23px;
      display: inline-block;
      vertical-align: middle;
      line-height: 17px;
    }
  }
}

.summary-status-wrapper{
  margin-top: 1.875rem;
  padding-bottom: 20px;
}

.summary-card .card-head{
  background: #3A6E93;
  h3{
    color: #C5DCED;
    margin-bottom: 0px;
  }
  h1, p, strong{
    color: white;
  }
  h1{
    margin-bottom: 12px;
  }
}

h1.c2n_header{
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 800;
  color: #4A4A4A;
}

.button-back-wrapper .button{
  padding-left: 11px;
  span.arrow-el{
    font-weight: 800;
    margin-bottom: 1px;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.completed-time{
  color: #494949;
  font-style: italic;
}

span.status-wrap{
  @media screen and (min-width: 40em){
    margin-top: 0px;
  }
  font-weight: 300;
  color: #494949;
  padding-top: 0px;
  display: inline-block;
  margin-right: 0px;
  font-size: 24px;
  span.status-value{
    text-transform: none;
    font-weight: bold;
  }
  &.status-is-pending{
  }
  &.status-is-completed{
  }
}
