.c2n_description p{
  margin-bottom: 0px;
  font-size: 14px;

  .requested-by-name {
    padding-right: 2rem;
  }
}

h1.c2n_header{
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 800;
  color: #4A4A4A;
}

span.status-icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid white;
  margin-bottom: -8px;
  margin-left: 3px;
  .status-is-pending &{
    background: #F7DB7D;
  }
  .status-is-completed &{
    background: #9CD984;
  }
  .status-is-canceled &{
    background: #D8D8D8;
  }

}

.card-head{
  h2, h3{
    color: #40759C;
    font-weight: 600;
    font-size: 19px;
  }
}
.card-head h3{
  margin-bottom: 12px;
}

.completed-time{
  color: #494949;
  font-style: italic;
}

span.status-wrap{
  @media screen and (min-width: 40em){
    margin-top: 0px;
    float: right;
  }
  color: #494949;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 0px;
  span.status-value{
    font-size: 17px;
    text-transform: none;
    font-weight: bold;
  }
  &.status-is-pending{
  }
  &.status-is-completed{
  }
}
