.step-state{
  position: relative;

  .step-status-wrapper:before{
    border-left: 4px solid black;
    content: "";
    left: 0px;
    position: absolute;
  }
  .step-content-wrapper{
    padding-bottom: 20px;
    vertical-align: top;
  }
  span{
    word-wrap: break-word;
  }
  .step-data{
    display: block;
  }
  .step-index{
    font-weight: bold;
  }
  .approver-status{
    font-style: italic;
  }
}


