ul.request-actions{
  max-width: 1120px;
  margin: auto;
  vertical-align: middle;
  li{
    margin: 0px;
    &.action-approve{
      margin-left: 20px;
    }
  }
  .button{
    font-weight: bold;
    width: 134px;
    height: 43px;
    outline: none;
  }
  .back-button .button{
    line-height: 30px;
  }
  .submit-button .button,
  .save-button .button{
    border-color: map-get($c2success-swatch, primary);
    background: map-get($c2success-swatch, primary);
    color: #4A4A4A;
    &:hover{
      background: map-get($c2success-swatch, secondary);
      border-color: map-get($c2success-swatch, secondary);
      color: #4A4A4A;
    }
  }
  .back-button,
  .cancel-button{
    margin-right: 20px;
    .button{
      background: map-get($c2black-swatch, quinary);
      border-color: map-get($c2black-swatch, quinary);
      color: #4A4A4A;
      &:hover{
        background: map-get($c2black-swatch, quaternary);
        border-color: map-get($c2black-swatch, quaternary);
        color: #4A4A4A;
      }
    }
  }
  .modify{
    margin: 0px;
  }
}
.edit-actions,
.user-can-complete{
  ul.request-actions{
    .cancel-action{
      display: none;
    }
  }
}

.action-bar-template.action-bar-status{
  border-top: 0px;
}

.action-bar-wrapper.action-bar-template{
  .row.row {
    margin: 0 auto;
    float: none;
  }
}

.action-bar-wrapper.user-can-complete .cancel-button,
.action-bar-wrapper.user-can-complete .save-button,
.action-bar-wrapper.user-can-complete.edit-actions .action-approve{
    display: none;
}
.action-bar-wrapper.user-can-complete.edit-actions .back-button,
.action-bar-wrapper.user-can-complete.edit-actions .cancel-button,
.action-bar-wrapper.user-can-complete.edit-actions .save-button {
    display: inline-block;
}


.notification-bar-el .close{
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -8px;
  font-size: 31px;
  transition: opacity .2s ease-in;
  outline: none;
  &:hover{
    opacity: 7;
  }
  svg{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 3px;
  }
}

.cancel-action{
  color: $primary-color;
}

.action-bar-container{
  position: fixed;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.action-bar-template{
  border-top: 1px solid #e0e2e3;
}

$action-bar-wrapper-height-small: 70px;
.action-bar-status{
  ul{
    margin: 0px;
    li{
    }
  }
  bottom:  $action-bar-wrapper-height-small;
  &.show{
    display: block;
  }
}

.action-bar-wrapper{
  height: $action-bar-wrapper-height-small;
  padding-top: 10px;
}

.edit-actions{
  .edit-button{
    display: none;
  }
}

.view-actions{
  .save-button,
  .cancel-button{
    display: none;
  }
}

.action-bar-template{
  transform: translateY($action-bar-wrapper-height-small);
  transition: transform .3s ease-in;
  &.edit-actions,
  &.view-actions,
  &.user-can-complete{
    transform: translateY(0px);
  }
}


@media screen and ( min-width: 60em ){
  .action-bar-padding{
    padding-left: 250px;
  }
}

@media screen and ( min-height: 600px ){
  $action-bar-wrapper-height: 157px;
  .action-bar-status{
    .status-bar{
      padding-top: 7px;
    }
    bottom:  $action-bar-wrapper-height;
  }

  .action-bar-wrapper{
    height: $action-bar-wrapper-height;
    padding-top: 20px;
  }

  .action-bar-template{
    transform: translateY($action-bar-wrapper-height);
  }

}


.action-bar-status{
  .notification-bar-el{
    padding-left: 35px;
    padding-right: 35px;
    min-height: 65px;
    background: map-get($c2success-swatch, primary);
    color: #494949;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    min-height: 65px;
    justify-content: center;
    .row{
      margin: 0 auto;
      width: 100%;
    }
    &.notice-type-notice{
      background: map-get($c2black-swatch, quinary);
      color: #494949;
      border-color: darken(map-get($c2black-swatch, quinary), 5%);
    }
    &.notice-type-success{

    }
    &.notice-type-alert{
      background: #F5EBEC;
      color: #D0021B;
      border-color: darken($alert-color, 5%);
    }
  }
}

.action-bar-container{
  bottom:  0px;
}

.action-bar-wrapper{
  background: rgba(255,255,255,.9);
  > div{
    opacity: .7;
  }
  &.edit-actions,
  &.user-can-complete{
    > div{
      opacity: 1;
    }
    bottom: 0px;
  }
}
