ul#request-actions{
  max-width: 1120px;
  margin: auto;
  vertical-align: middle;
  li{
    margin: 0px;
  }
  .action-edit{
    display: none;
  }
  .save-button .button{
    background: #8ecc76;
  }
  .cancel-button{
    margin-right: 20px;
  }
}
.edit-actions{
  ul#request-actions{
    .action-edit{
      display: inline-block;
    }
    .action-default{
      display: none;
    } 
    .cancel-action{
      display: none;
    }
  }
}

.cancel-action{
  color: $primary-color;
}

.action-bar-template{
  position: fixed;
  width: 100%;
  margin: auto;
  left: 0px;
  right: 0px;
  z-index: 10;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
}

$action-bar-wrapper-height: 110px;

.action-bar-status{
  .status-bar{
    padding-top: 7px;
  }
  height: 40px;
  background: #589D42;
  bottom:  $action-bar-wrapper-height;
  color: white;
  font-weight: bold;
}

.action-bar-wrapper{
  padding-top: 20px;
  height: $action-bar-wrapper-height;
  bottom:  0px;
  background: #e8e8e8;
  &.edit-actions{
    bottom: 0px;
    background: white;
  }
}
