.modal-content, .modal-template{
  display: none !important;
}
h4.popup-content-label{
  font-size: 20px;
}
p.popup-content-desc{
  font-size: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.modal-wrapper{
  .form-button{
    min-width: 120px;
  }
  &.visible{
    display: block;
  }
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  padding: 0 15%;
  z-index: 900;
  .popup-content{
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px 5%;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    z-index: 901;
    position: relative;
    outline: none;
    label{
      color: #42769A;
      font-weight: 500;
      padding-bottom: 10px;
      padding-top: 20px;
      font-weight: bold;
    }
    h3{
      font-weight: bold;
    }
    button, .form-button{
      font-weight: 600;
      color: #4A4A4A;
      letter-spacing: 1px;
      margin-top: 25px;
    }
    .cancel-button{
      background-color: #E8E8E8;
      border-color: #E8E8E8;
      margin-right: 20px;
    }
    input[type='submit']{
      // border-color: #E8E8E8;
      height: 50px;
      padding-top: 13px;
      &:disabled {
        background-color: map-get($c2success-swatch, primary);
        opacity: 0.6;
      }
    }
    .cancel-close-button{
      position: absolute;
      top: -20px;
      right: 8px;
      font-size: 30px;
      color: #444754;
      font-weight: normal;
    }
  }
}

.cancel-request-button{
  color: #ffffff;
  text-decoration: underline !important;
  position: absolute;
  bottom:20px;
  right: 25px;
  &:hover, &:focus{
    color: #ffffff;
  }
}
