.c2n_description p{
  margin-bottom: 0px;
  font-size: 14px;

  .requested-by-name {
    padding-right: 2rem;
  }
}

.status-bar{
  display: inline-block;
  height: 4px;
  &.status-is-pending{
    background: #F7DB7D;
  }
  &.status-is-completed{
    background: #9CD984;
  }
  &.status-is-canceled{
    background: #D8D8D8;
  }

}

.summary-card .card-head{
  background: #40759C;
  h3{
    color: #C5DCED;
    margin-bottom: 0px;
  }
  h1, p, strong{
    color: white;
  }
  h1{
    margin-bottom: 12px;
  }
}

h1.c2n_header{
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 800;
  color: #4A4A4A;
}

.button-back-wrapper .button{
  padding-left: 11px;
  span.arrow-el{
    font-weight: 800;
    margin-bottom: 1px;
    display: inline-block;
  }
}

.card-head{
  h2, h3{
    color: #40759C;
    font-weight: 600;
    font-size: 19px;
  }
}

.completed-time{
  color: #494949;
  font-style: italic;
}

span.status-wrap{
  @media screen and (min-width: 40em){
    margin-top: 0px;
  }
  font-weight: 300;
  color: #494949;
  padding-top: 0px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 0px;
  font-size: 24px;
  span.status-value{
    text-transform: none;
    font-weight: bold;
  }
  &.status-is-pending{
  }
  &.status-is-completed{
  }
}
