.card#request-details-card{
  .detail-edit{
    display: none;
  }
  .edit-mode & {
    .detail-edit{
      display: block;
    }
    .detail-display{
      display: none;
    }
  }
}

.detail-element{
  font-size: 13px;
  font-weight: bold;
  color: #5F8CAE;
}

.detail-value{
  font-size: 16px;
}

.edit-mode{
  #expense_type-wrapper-3{
    .detail-wrapper{
      border-radius: 10px 0px 0px 10px;
      margin-left: 0px;
    }
  }
  #expense_type-wrapper-4{
    .detail-wrapper{
      border-radius: 0px 10px 10px 0px;
      margin-right: 0px;
    }
    clear: right;
  }
  #expense_type-wrapper-3,
  #expense_type-wrapper-4{
    .detail-wrapper.detail-wrapper{
      padding-top: 10px;
      margin-bottom: 0px;
      background: #DBEAF5;
    }
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding-top: 5px;
  }
}


#amount-wrapper{
  padding-left: 30px;

  .detail-element{
    color: #272727;
  }
  .detail-value{
    display: block;
    &.amount{
      font-size: 16px;
    }
    &.not_to_exceed{
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 12px;
    }
  }
  .detail-wrapper{
    background: #EDF5FB;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 11px;
  }
}

#view-request-details{

  @media screen and (min-width: 40em){
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
        border-right: 1px solid #DBEAF5;
        border-left: none !important;
        margin-right: -1px;
    }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
        border-left: 1px solid #DBEAF5;
    }
  }
}

.card{
  label{
    color: $primary-color;
  }
  .detail-wrapper{
    margin-bottom: 15px;
  }
  .request-detail{
    margin-bottom: 15px;
  }
  .request-content-wrapper{
    margin-bottom: 15px;
  }

  #edit-request-details {
    display: none;
  }

  input.missing-cl-number {
    border-color: red;
  }

  span.missing-cl-number {
    color: red;
  }

  .line-item-block {
    .view-mode & {
      margin-bottom: 1rem;
    }

    .callout {
      margin-bottom: 0;
    }

    .line-item-add {
      text-align: left;
      font-weight: bold;

      a.button {
        height: 23px;
        width: 23px;
        padding: 0;
        line-height: 19px;
      }

      a.add-text {
        vertical-align: top;
      }

      .view-mode & {
        display: none;
      }
    }

    .line-item-controls {
      text-align: right;
      margin-bottom: 1rem;

      a {
        padding-left: 1rem;
        font-size: 80%;
      }

      .view-mode & {
        display: none;
      }
    }
  }
}
