.card{
  label{
    color: $primary-color;
  }
  .detail-wrapper{
    margin-bottom: 15px;
  }
  .request-detail{
    margin-bottom: 15px;
  }
  .request-content-wrapper{
    margin-bottom: 15px;
  }

  #edit-request-details {
    display: none;
  }
}
