@media screen and (min-width: 40em){
  
  .medium-table-row{
    display: table;
  }

  .medium-table-cell{
    float: none !important;
    display: table-cell;
    // &:first-child{
    //   padding-left: 0px;
    // }
  
    // &:last-child{
    //   padding-right: 0px;
    // }
  }

}
