.form-group.contains-field{
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.medium-table-row{
  display: table;
}

.medium-table-cell{
  float: none !important;
  display: table-cell;
}

.beta-list .m-search-ui .adv .form-group{
  margin-bottom: .5em;
  clear: both;
  .checkbox{
    padding-top: 15px;
  }
}

label[for='ncr_work_order[created_at]'] {
    margin-left: -30px;
    margin-bottom: -30px;
    padding-top: 30px;
}

.background-color-column{
  position: relative;
}

.medium-auto-column{
  width: auto;
}

.inset {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.wrap-hard{
  position: relative;
}

#footer{
  clear: both;
}

.footer-buffer{
  padding-bottom: 70px;
  @media screen and ( min-height: 800px ){
    padding-bottom: 110px;
  }
}
