span.request-count {
  position: absolute;
  right: 15%;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-home{
  height: auto !important;
  min-height: 100%;
  padding-right: 0em;
  background: #333541;
  @media screen and (max-width: 40em){
    padding: 0px;
  }
  .header-nav{
    width: 100%;
  }
  #header-identity{
    text-align: center;
    img{
      padding-top: 10px;
      padding-bottom: 10px;
      max-width: 300px;
      width: 70%;
    }
    a{
      display: block;
    }
  }
  @media screen and (min-width: 40em){
    position: absolute;
    margin-left: 0px;
    padding-left: 0px;
  }
  height: 100%;
  .sidebar-wrapper{
    background: #333541;
    position: relative;
    height: 100%;
  }
  .new-request-button, .reports-button{
    background: #333541;
    &:hover, &:focus{
      background: darken(#333541, 5%);
    }
  }
  .side-secondary-nav{
    list-style: none;
    font-size: 14px;
    color: white;
    clear: both;
    padding-top: 1em;
    a{
      color: #c5dced;
    }
  }
  .header-nav{
    margin-left: 0px;
    background: #444754;
    li{
      position: relative;
      border-top: 1px solid #5a5b60;
      .reports-button{
        border-bottom: 1px solid #5a5b60;
      }
      &.button-divider{
        display: block;
        width: 70%;
        height: 1px;
        background: #5a5b60;
        margin: auto;
      }
      &.requests-button{
        &:focus, &:hover{
          a, span.request-count{
            outline: none;
          }
          &:hover{
            background: #323641;
          }
        }
      }
      &.request-related-button{
        border: none;
        position: relative;
        a{
          font-size: 14px;
          position: relative;
          padding-left: 20%;
          width: 100%;
          display: block;
          font-weight: normal;
        }
        &.view-all-button-wrapper:before{
          border-top: none;
        }
        &.active{
          a, span.request-count{
            color: #333541;
          }
        }
        &.active, &:focus, &:hover{
          a, span.request-count{
            outline: none;
          }
          &:hover{
            background: #323641;
          }
          &.active{
            &:hover{
              background: #444754;
            }
            &:before{
              background: #C5DCED;
            }
            &:hover{
              &:before{
                background: #DBEAF5;
              }
            }
          }
          &:before {
            border: none;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            @media screen and (min-width: 40em){
              right: 0px;
              width: 90%;
            }
          }
        }
      }
      width: 100%;
      padding: 0px;
      background: #444754;
      a{
        display: block;
        padding: 20px 20px;
        width: 100%;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
  }
}
