
.sidebar-home{
  height: auto !important;
  min-height: 100%;
  @media screen and (max-width: 40em){
    padding: 0px;
  }
  .header-nav{
    width: 100%;
  }
  #header-identity{
    text-align: center;
    img{
      padding-top: 10px;
      padding-bottom: 10px;
      max-width: 300px;
      width: 80%;
    }
    a{
      display: block;
    }
  }
  @media screen and (min-width: 40em){
    position: absolute;
    margin-left: 0px;
    padding-left: 0px;
  }
  height: 100%;
  .sidebar-wrapper{
    background: #333541;
    position: relative;
    height: 100%;
  }
  .new-request-button, .reports-button{
    background: #333541;
  }
  .side-secondary-nav{
    list-style: none;
    font-size: 14px;
    color: white;
    clear: both;
    padding-top: 1em;
    a{
      color: #c5dced;
    }
  }
  .header-nav{
    margin-left: 0px;
    li{
      position: relative;

      &.requests-button{
        border-bottom: none;
      }
      .reports-button{
        border-top: 2px solid #5a5b60;
      }
      &.request-related-button{
        border: none;
        position: relative;
        a{
          position: relative;
          padding-left: 40px;
          width: 100%;
          display: block;
          font-weight: normal;
        }
        &:before{
          content: "";
          display: block;
          position: absolute;
          width: 70%;
          top: 0px;
          border-top: 2px solid #5a5b60;
          left: 0px;
          right: 0px;
          margin: auto;
          border-radius: 3px 0px 0px 3px;
        }
        &.active, &:focus, &:hover{
          a{
            color: #333541;
            outline: none;
          }
          &:before {
            border: none;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            @media screen and (min-width: 40em){
              right: -10.01%;
              width: 90%;
            }
          }
        }
      }
      &.view-all-button-wrapper{
        &.active, &:focus, &:hover{
          &:before {
            background: #c5dced;
          }
        }
        &.active{
          &:focus, &:hover{
            &:before{
              background: darken(#c5dced, 10%);
            }
          }
        }
        &:hover{
          &:before{
            background: lighten(#c5dced, 5%);
          }
        }
      }
      &.pending-button-wrapper{
        &.active, &:focus, &:hover{
          &:before {
            background: #f7dd7d;
          }
        }
        &.active{
          &:focus, &:hover{
            &:before{
              background: darken(#f7dd7d, 10%);
            }
          }
        }
        &:hover{
          &:before{
            background: lighten(#f7dd7d, 5%);
          }
        }
      }
      &.completed-button-wrapper{
        &.active, &:focus, &:hover{
          &:before {
            background: #9CD984;
          }
        }
        &.active{
          &:focus, &:hover{
            &:before{
              background: darken(#9CD984, 10%);
            }
          }
        }
        &:hover{
          &:before{
            background: lighten(#9CD984, 5%);
          }
        }
      }
      &.canceled-button-wrapper{
        &.active, &:focus, &:hover{
          &:before {
            background: #CDD1D3;
          }
        }
        &.active{
          &:focus, &:hover{
            &:before{
              background: darken(#CDD1D3, 10%);
            }
          }
        }
        &:hover{
          &:before{
            background: lighten(#CDD1D3, 5%);
          }
        }
      }
      &:first-child{
        border-top: 2px solid #5a5b60;
      }
      border-bottom: 2px solid #5a5b60;
      width: 100%;
      padding: 0px;
      background: #444754;
      a{
        display: block;
        padding: 20px 20px;
        width: 100%;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
  }
}
