@charset 'utf-8';

@import 'foundation_custom';
@import 'global';
@import 'header';
@import 'card';
@import 'card-summary';
@import 'card-approvals';
@import 'card-activity';
@import 'card-request_details';
@import 'card-action';
@import 'card-purchase';
@import 'card-observers';
@import 'card-attachments';
@import 'card-modal';
@import 'breadcrumbs';
@import 'basic';
@import 'layout';
@import 'ncr/fields';
@import 'animation';
@import 'list';
@import 'sidebar-nav';
@import 'home_redesign';
