.home_redesign{
  section {
    padding: 4rem 0px;
  }
  .header {
    background-color: map-get($c2blue-swatch, secondary);
    color: white;
    p {
      color: white;
    }
  }
  .get_started {
    background-color: map-get($c2blue-swatch, quinary);
    section {
      border-bottom: 1px solid map-get($c2black-swatch, quaternary);
      &:last-child {
        border-bottom: none;
      }
    }
    img {
      max-width: 260px;
    }
    .descriptor {
      p {
        margin-left: 20rem;
        margin-top: 3rem;
      }
    }
  }
}
