%tr
  %td
    %table.centered
      %tr
        %td.wrapper.last.row.hide-for-small
          %table.twelve.columns
            %tr
              %td
                %h3.text-center.color-light
                  = text.html_safe
                  %br/

                %br
              %td.expander
