- style     = !style.nil?     ? ' ' + style     : ''

%tr{class: style}
  %td
    %table.centered
      %tr
        %td.wrapper.last.row
          %table.twelve.columns
            %tr
              %td
                %h3.text-center.color-light
                  = text.html_safe
                  %br/

                %br
              %td.expander
