/ [if !mso]><!--
%table
  %tr.row
    %td.wrapper.last.show-for-small
      %table.twelve.columns
        %tr
          %td
            %h3.heading-center-top.text-center
              = text
              %br/
/ <![endif]
%table
  %tr
    %td.wrapper.last.row.hide-for-small
      %table.twelve.columns
        %tr
          %td
            %h3.text-center
              = text
              %br/

            %br
          %td.expander
