
%table.row
  %tr
    %td.center{align: "center"}
      %center
        %table.container
          %tr
            %td.wrapper.last
              %table.twelve.columns
                %tr
                  %td{align: "center", valign: "top"}
                    %center
                      = image_tag icon, class: "no-float-image"
                  %td.expander
