%table.row
  %tr
    %td.center{align: "center"}
      %center
        %table.container
          %tr
            %td.wrapper.last
              %center
                = image_tag "emails/icon-pencil-circle.png", class: "no-float-image"
            %td.expander
