%table.row
  %tr
    %td.center{align: "center"}
      %center
        %table.container
          %tr
            %td.wrapper.last
              %table.twelve.columns
                %tr
                  %td.sub-columns.center{align: "center", valign: "top"}
                    %center
                      = image_tag "emails/icon-pencil-circle.png", class: "no-float-image"
                  %td.expander
