%table.w-container.main-container{ width: "800" }
  %tr
    %td.w-container.html-email-message
      %p
        = t("mailer.comment_mailer.comment_added_email.body",
            full_name: @comment.user.full_name,
            public_id: @proposal.public_id,
            name: @proposal.name)
  %tr
    %td.w-container.html-email-message
      = @comment.comment_text
  %tr
    %td.w-container.html-email-message
      = t("mailer.comment_mailer.comment_added_email.proposal_link_html",
        proposal_url: proposal_url(@proposal, anchor: "comments"))
