- if proposal.comments.any?
  = render partial: "mail_shared/panel/vertical_buffer"

  - last_comment = proposal.comments.last
  - comment_action = t("mailer.last_comment_detail",
    count: proposal.comments.count,
    full_name: last_comment.user.full_name,
    proposal_name: proposal.name)
  - comment_icon = "icon-speech_bubble-blue.png"
  - comment_action_date = time_and_date(last_comment.created_at)

  = render partial: "mail_shared/panel/row_description",
    locals: { icon: comment_icon, action: comment_action, datetime: comment_action_date}

  = render partial: "mail_shared/panel/vertical_buffer"
