%table.row
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td.panel.panel-styled.sub-grid
            %table
              %tr
                %td.twelve.sub-columns
                  %h3.section-header-left
                    Activity

    %td.expander
