- if proposal.description
  %tr
    %td
      %table.row
        %tr
          %td.wrapper.last.no-padding-top
            %table.twelve.columns
              %tr
                %td.panel.panel-styled-content.sub-grid{valign: "top"}
                  %table{valign: "top"}
                    %tr{valign: "top"}
                      %td.twelve.sub-columns{valign: "top"}
                        %p.styled-italic-side
                          = proposal.description

                %td.expander
