%table.row
  %tr
    %td.wrapper.last.no-padding-top
      %table.twelve.columns
        %tr
          %td.panel.panel-styled-content.sub-grid

            %table
              %tr
                %td.two.sub-columns
                  = image_tag icon, class: "image-sidebar"
                %td.ten.sub-columns
                  %p.styled-italic-side
                    = action
                    %br/
                    = datetime
