- last == true ? last_class = "last" : last_class = ""
%tr
  %td
    %table.row
      %tr
        %td.wrapper.last.no-padding-top
          %table.twelve.columns
            %tr{valign: "top"}
              %td.panel.panel-styled-content.sub-grid{class: last_class, valign: "top"}
                %table{valign: "top"}
                  %tr{valign: "top"}
                    %td.half.sub-columns.hide-for-small
                    %td.half.sub-columns.left-border-two.hide-for-small
                    %td.ten.sub-columns.modified-contained{style: "text-align: center;", align: "center", valign: "top"}
                      - changes.each do |change|
                        %p.text-message.small-buffer
                          = t("mailer.proposal_mailer.proposal_updated_needs_re_review.change_result",
                            verb: change[:verb],
                            result: change[:result]).html_safe
                    %td.expander
              %td.expander
