- last == true ? last_class = "last" : last_class = ""
%table.row
  %tr
    %td.wrapper.last.no-padding-top
      %table.twelve.columns
        %tr
          %td.panel.panel-styled-content.sub-grid{class: last_class}
            %table
              %tr
                %td.one.sub-columns
                %td.one.sub-columns.left-border-two
                %td.ten.sub-columns
                  %img{src: image, alt: "", class: "image-with-border"}/


