%table.row
  %tr
    %td.wrapper.last
      %table.one.columns
        %tr
          %td
    %td.wrapper.left-border-two
      %table.one.columns
        %tr
          %td
    %td.wrapper.last{class: "no-bottom-padding"}
      %table.ten.columns
        %tr
          %td{class: "no-bottom-padding"}
            %img{src: image, alt: "", class: "image-with-border"}/
