%table.row
  %tr
    %td.wrapper.last.no-bottom-padding
      %table.two.columns.od-60px
        %tr
          %td.text-center
            = image_tag icon, class: "image-sidebar"
    %td.wrapper.last.no-bottom-padding
      %table.ten.columns
        %tr
          %td.icon-side-text
            %p.styled-italic-side
              = action
              %br/
              = datetime
