%tr
  %td
    %table.row
      %tr
        %td.wrapper.last.no-padding-top
          %table.twelve.columns
            %tr
              %td.panel.panel-styled-content.sub-grid

                %table
                  %tr
                    %td.one.sub-columns.hide-for-small
                      = image_tag icon, class: "image-sidebar"
                    %td.ten.sub-columns
                      %p.styled-italic-side
                        = action
                        %br/
                        = datetime
              %td.expander
