- last == true ? last_class = "last" : last_class = ""
%tr
  %td
    %table.row
      %tr
        %td.wrapper.last.no-padding-top
          %table.twelve.columns
            %tr
              %td.panel.panel-styled-content.sub-grid{class: last_class}
                %table
                  %tr
                    %td.half.sub-columns.hide-for-small
                    %td.half.sub-columns.left-border-two.hide-for-small
                    %td.ten.sub-columns{style: 'text-align: center;'}
                      %img{src: image, alt: "", class: "image-with-border"}/
              %td.expander

