%tr
  %td
    %table.row
      %tr
        %td.wrapper.last.no-padding-top
          %table.twelve.columns
            %tr
              %td.panel.panel-styled-content.sub-grid
                
                %table.row
                  %tr{class: "height-20"}  
                    / Padding-bottom fix
              %td.expander
          / Panel Content End
