var CartItem = Backbone.Model.extend({
  defaults: {
    price: 0.00,
    title: "",
    itemurl: "",
    imageUrl: "",
    quantity: 0,
    vendor: "",
    subtotal: 0.00
  },
  validate : function(attrs) {
    if (attrs.price == 0) {
      return "item must have a non-zero price!";
    }
    if (isNaN(parseFloat(attrs.price))) {
      return "item price must be a number";
    }
  },
  initialize: function() {
    //put event code here.
    this.on("change:price change:quantity", this.calcSubtotal, this);
    this.calcSubtotal();
  },
  calcSubtotal :  function() {
      var p = parseFloat(this.attributes.price);
      var q = parseInt(this.attributes.quantity);
      this.set({subtotal: (p * q).toFixed(2)},{silent:true});
  },
  toJSON: function() {
    var json = Backbone.Model.prototype.toJSON.apply(this, arguments);
    return json;
  }
});

var CartItemView = Backbone.View.extend({
    tagName: 'tr',
    events: {
        "click .deleter" : "deleteme"
    },
    render: function() {
        var j = this.model.toJSON();
        this.$el.html(this.cartTpl(j));
        return this;
    },
    initialize: function() {
        this.cartTpl = _.template($('#cartitem-template').html());
        this.listenTo(this.model, 'change', this.render);
        this.listenTo(this.model, 'destroy', this.remove);
    },
    deleteme : function(e) {
        e.preventDefault();
        var col = this.model.collection;
        col.sync('delete', this.model, {success: function(rez) {console.log(rez);}});
        col.remove(this.model);
    }
});

var Cart = Backbone.Collection.extend({
    model: CartItem,
    localStorage: new Store("communicart"),
    clear: function(p_handler) {
        var tHandler = function(rez) {;};
        p_handler = p_handler || tHandler;
        var num = this.length;
        while (this.length) {
            var item = this.at(0);
            this.sync('delete', item, {success: ((--num) ?  tHandler : p_handler)});
            this.remove(item);
        };
    }
});

var CartView = Backbone.View.extend({
    model: Cart,

    initialize: function () {
        _.bindAll(this, "render");
        this.listenTo(this.model, "remove", this.render);
    },
    render: function() {
        this.$el  = $('#itemList'); //this is a result of timing...should fix
        this.$el.empty();
        var cartTotal = 0.00;
        this.model.each( function(item) {
            var iview = new CartItemView({model: item});
            var ir = iview.render().el;
            this.$el.append(iview.render().el);
            cartTotal += parseFloat(item.get("subtotal"));
        }, this);
        $('#cartTotal').html("<span class='total-cap'>TOTAL</span><span class='total-amt'>   $ "+cartTotal.toFixed(2)+"</span>");
    }
});

var items = new Cart();
var itemView = new CartView({model: items});

//initialization
setTimeout(function(){
    var qs = (function(a) {
        if (a == "") return {};
        var b = {};
        for (var i = 0; i < a.length; ++i)
        {
            var p=a[i].split('=');
            if (p.length != 2) continue;
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
        }
        return b;
    })(window.location.search.substr(1).split('&'));
    //fill in form
    if (qs.hasOwnProperty("price")) {
        var price = parseFloat(qs.price);
        price = price ? price.toFixed(2) : "";
        $('#itemprice').val(price);
    }
    if (qs.hasOwnProperty("title")) {
      $('#itemname').val(unescape(qs.title));
    }
    $('#itemquantity').val(1);
    if (qs.hasOwnProperty("imageUrl")) {
        loadProdImage(qs.imageUrl, unescape(qs['title']));
    } else {
        loadProdImage(null);
    }

    //Buttons
    $('.cancel-link').click(function() {
        closeOverlay();
    });
    $('#close_box').click(function() {
        closeOverlay();
    });
    $('#add_btn').click(function() {
      if (addCartItem($('#itemname').val(), qs.itemUrl, qs.imageUrl,
          $('#itemprice').val(), $('#itemquantity').val(), qs.vendor)){
        $('#priceError').html('<p></p>');
        $('#priceError').css("visibility", "hidden");
        switchToCart();
      } else {
        $('#priceError').html('<p>Please enter a price</p>');
        $('#priceError').css("visibility", "visible");
      }
      return false;
    });

    $('.go-link').click(function() {
        switchToCart();
    });

    $('#send_btn').click(function() {
      //do some stuff here to send cart
      sendCart();
      $('#spindiv').show();
    });

    $('.shop-btn').click(function(){
      closeOverlay();
    });
    $('.clear-btn').click(function() {
        items.clear(closeOverlay);
    });
}, 200);

function readCart(pClearFirst) {
  if (typeof pClearFirst != "undefined" && pClearFirst) {
      items = [];
  }
  var j = 0;
  while (true) {
    var item = localStorage.getItem("cartItem_"+j);
    if (item != null && j < 10) {
        items.add(JSON.parse(item));
    } else {
      break;
    }
    j++;
  }
}

function closeOverlay() {
  window.parent.postMessage("closeOverlay", "*");
}

function expandOverlay() {
    window.parent.postMessage("expandOverlay", "*");
}

function contractOverlay() {
    window.parent.postMessage("contractOverlay", "*");
}

function loadProdImage(imageurl, alt) {
    var newImg = new Image();
    var imagealt = alt;

    if (imageurl == null) {
        imageurl = "<%= image_path 'not_found.png' %>";
        imagealt = "Product image not found"
    }

    newImg.onload = function() {
        var height = newImg.height;
        var width = newImg.width;
        if (height > width) {
            $('#prod_pic').height(240);
            $('#prod_pic').width(240/height * width);
        } else {
            $('#prod_pic').width(240);
            $('#prod_pic').height(240/width * height);
        }
        $('#prod_pic').attr('src', imageurl);
    };
    newImg.src = imageurl;
    $('#prod_pic').attr('alt', imagealt);

}

function addCartItem(title, itemUrl, imageUrl, price, quantity, vendor) {
  var item = new CartItem({title: title, itemurl: itemUrl, imageUrl: imageUrl, price: price, quantity: quantity, vendor: vendor});
  if (item.isValid()) {
    items.add(item);
    item.save();
    return true;
  } else {
    return false;
  }
}

function switchToCart() {
    $('#formscreen').hide();
    $('#cartscreen').show();
    expandOverlay();
    items.fetch();
    itemView.render();
}

function switchToConfirm() {
    $('#confirmscreen').html('<div class="hdr confirm-hdr">Success!</div><div class="confirm-body"><p><span id="cart-name-sp">cart name</span> was sent to <span id="approval-group-name-sp">approval group name</span>.</p>' +
                    '<p>We will send you an email when your request is approved. In the meantime, you can <a id="view-link">view your request here</a>.</p></div>');
    $('#cart-name-sp').html($('#cartName').val());
    $('#approval-group-name-sp').html($('#approvalgroup_input').val())
    contractOverlay()
    $('#formscreen').hide();
    $('#cartscreen').hide();
    items.clear();
    $('#spindiv').hide();
    $('#confirmscreen').show();
}

function sendCart() {
  var cartdata = {};
  if ($('#cartName').val() != "") {
    cartdata["cartName"] = $('#cartName').val();
  }
  cartdata["cartNumber"] = Math.floor(Math.random() * 1000000) + 300000;
  if ($('#approvalgroup_input').val() != "") {
    cartdata["approvalGroup"] = $('#approvalgroup_input').val();
  }
  cartdata["cartItems"] = [];
  items.each(function (item) {
    var tItem = {};
    tItem.url = item.get("itemurl");
    tItem.imageUrl = item.get("imageUrl");
    tItem.vendor = item.get("vendor");
    tItem.details = item.get("description");
    tItem.description = item.get("title");
    tItem.qty = item.get("quantity");
    tItem.price = item.get("price");
    //notes & partNumber?
    cartdata["cartItems"].push(tItem);
  });
  $.ajax({
      type : "POST",
      url: window.location.origin + "/send_cart",
      dataType: "json",
      contentType: "application/json",
      data: JSON.stringify(cartdata),
      success: function(obj) {
        switchToConfirm();
      }
  });
}
