<table width="100%" class="data-container proposal-properties table">
  <tr class='header'>
    <td class="first" width="33%" scope="col" colspan="2">
      <h5>Credit Card Purchase Request</h5>
    </td>
  </tr>
  <%- proposal.fields_for_display.each do |name, value| %>
    <tr class="proposal-property">
      <td class="results-list" align="left" scope="row">
        <strong><%= name %>
      </td>
      <td>
        <%= property_to_s(value) %>
      </td>
    </tr>
  <%- end %>
</table>
