- approvers = object.currently_awaiting_approvers

- if object.pending? && approvers.include?(current_user)
  %strong #{object.decorate.step_text_for_user("status.please_act", current_user)}
- elsif object.pending?
  %em  #{object.decorate.table_waiting_text + " " + approvers.map(&:full_name).join(', ')}
- else
  = object.status.titlecase
