- users = object.currently_awaiting_step_users

- if object.pending? && users.include?(current_user)
  %p
    %strong Please review
- elsif object.pending?
  %p
    %em Waiting for review from: #{users.map(&:full_name).join(', ')}
- else
  = object.status.titlecase
