- approvers = object.currently_awaiting_approvers

- if object.pending? && approvers.include?(current_user)
  %p
    %strong Please review
- elsif object.pending?
  %p
    %em Waiting for review from: #{approvers.map(&:full_name).join(', ')}
- else
  = object.status.titlecase
