!!!
%head
  %title= "Something went wrong"
%html

  %body.c2-notification
    - if flash[:notice]
      = flash[:notice]

    %h1
      Here is the proposal information
      - # TODO this should probably display something
