<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/underscore-min.js"></script>
    <script src="./javascripts/backbone-min.js"></script>
    <script language="JavaScript" src="./javascripts/backbone-localstorage.js"></script>

    <script language="JavaScript" src="./javascripts/overlay.js"></script>
    <link rel="stylesheet" href="/assets/overlay.css" media="screen" type='text/css'></link>
    <title>Communicart: Cartmaker</title>
</head>
<body>
  <div id="formscreen">
    <h3>Add item to cart?</h3>
    <div float="left" id="pic_holder">
        <img id="prod_pic"/>
    </div>

    <form>
        <label>Name</label><input type="text" id="itemname" size="66"/>  <label>Price $</label><input type="text" id="itemprice" size="10"/>
        <label>Quantity</label><input type="text" id="itemquantity" size="4"/><br/>
    </form>
    <a class="btn" id="cancel_btn" >Cancel</a><a class="btn" id="add_btn">Add to Cart</a><a class="btn" id="goto_btn">Go to Cart</a>
    <div class="error" id="priceError"><p>Please enter a price</p></div>
  </div>
  <div id="cartscreen">
      <h3>Your cart</h3>
      <input type="text" size="30" id="cartName" placeholder="Cart name"/>
      <table id="itemList"></table>
      <div id="approvalgroup_entry">
        <label>Approval Group Name:</label>
        <input type="text" id="approvalgroup_input" size="30"/>
      </div>
      <div class="buttonbar">
        <a class="btn" id="send_btn">Send for Approval</a><a class="btn" id="shop_btn">Keep shopping</a><a class="btn" id="clear_btn">Clear Cart</a>
      </div>
  </div>
  <script type="text/template" id="cartitem-template">
      <td><a href='<%= itemurl %>' class='itemlistname'><%= title %></a></td><td class='itemlistprice'>$ <%= price %></td>
        <td> <%= quantity %> </td><td><a class='deleter'>remove</a><td>
      </td>
  </script>
</body>
</html>
