<%- if @cart.flow == 'linear' %>
  <div class="col-md-12">
    <table class="col-md-12 data_container" border='0'>
      <%= render partial: "shared/linear_approval_status" %>
    </table>
  </div>
<%- else %>
  <div class="col-md-4  col-xs-12 communicart_description">
    <div class="purchase-status">
      <h5 class="<%= @cart.status %>"><%= @cart.display_status %></h5>
    </div>
  </div>
<%- end %>
