%div{class: "banner-element"}
  %span
    This website is best viewed in the Chrome web browser.
    %a{href: "https://google.com/chrome"} Download here. 
    %a{href: "https://google.com/chrome"} X. 