<table width="100%" class="data_container cart_properties table">
  <tr class='header'>
    <td class="first" width="33%" scope="col" colspan="2">
      <h5>FY15 Credit Card Purchase Request</h5>
    </td>
  </tr>
  <%- cart.deserialized_properties.each do |property,value| %>
    <%- unless cart.property_exclusions.include? property %>
      <tr class="cart_item_information">
        <td class="results-list" align="left" scope="row">
          <strong><%= I18n.t('helpers.label.cart.' + property,
                             default: property.underscore.humanize) %></strong>
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <%- end %>
  <%- end %>
</table>
