<div id='communicart_header'>
  <div id='header-identity'>
    <div id="communicart_logo">Communicart</div>
    <h1>Approval Portal</h1>
  </div>

  <ul id='header-nav'>
    <li><a href='#'>approver.lastname@gsa.gov</a></li>
    <li><a href='#'>Logout</a></li>
  </ul>
</div>

<div id='breadcrumb-nav'>
  <a href='#'>Back to main portal</a>
</div>

