<div id='communicart_header'>
  <div class='container'>
    <div id='header-identity'>
      <div id="communicart_logo">Communicart</div>
      <h1>Approval Portal</h1>
    </div>

    <ul id='header-nav'>

      <%- if !@current_user %>
        <%= link_to 'Sign in with MyUSA', "/auth/myusa" %>
      <%- else %>
        <li>
          <%= session['user']['email'] %> <img src='/assets/icon-user.png' width='18' height='18' />
        </li>
      <%- end %>

      <li>
        <%= link_to 'Logout', "/logout", method: :post, class: 'login-link' %>
        <img src='/assets/icon-logout.png' width='18' height='18' /></a>
      </li>
    </ul>
  </div>
</div>

<%- if ENV['flag_web_app_landing'] == 'true' %>
  <ul id='breadcrumb-nav'>
    <li><a href='#'>Back to main portal</a></li>
  </ul>
<%- end %>

