<table width=100%>
<tr class='header'>
  <td class="first" width="30%">
    <h5>Name</h5>
  </td>
  <td width="17.5%">
    <h5>Description</h5>
  </td>
  <td width="17.5%">
    <h5>Details</h5>
  </td>
  <td width="17.5%">
    <h5>Tags</h5>
  </td>
  <td class="last" width="17.5%">
    <h5>Price</h5>
  </td>
</tr>

</table>