.inset
  .row.m-search-ui
    .input-group
      %input.search-terms.form-control{type: "text", name: "text", value: @text}
      .input-group-btn
        .btn-group{role: "group"}
          .dropdown.dropdown-lg
            %button.btn.btn-default.dropdown-toggle{type: "button", "data-toggle" => "dropdown", "aria-expanded" => "false"}
              %span.fa.fa-angle-down
            .dropdown-menu.dropdown-menu-right{role: "menu"}
              = render partial: "shared/search_form"
          %button#search-button.btn.btn-default.search{type: "submit"}
            Search

- if defined?(show_adv_search_ui) && show_adv_search_ui
  <script type="text/javascript">var C2_SEARCH_UI_OPEN = true;</script>
- else
  <script type="text/javascript">var C2_SEARCH_UI_OPEN = false;</script>
