- # Requires the "container" variable
%table.tabular-data
  %thead
    - # @todo: "header" class shouldn't be required (we're in thead)
    %tr.header
      - container.columns.each do |column|
        %th{class: column.sort_dir}
          - # @todo: why are there h5s in our table headers?
          %h5
            - if !container.frozen_sort && column.can_sort?
              = link_to(column.header, container.sort_params(request.query_parameters, column))
            - else
              = column.header
  %tbody
    - container.rows.each do |row|
      %tr
        - container.columns.each do |column|
          %td
            - formatter_tpl = "shared/formatter/" + column.formatter.to_s
            - value = column.display(row)
            = render partial: formatter_tpl, locals: {object: row, value: value}
