- # Requires the "container" variable
%table.tabular-data
  %thead
    %tr
      - container.columns.each do |column|
        %th{class: column.sort_dir}
          .table-header
            - if !container.frozen_sort && column.can_sort?
              - # long-form instead of link_to to avoid brakeman XSS warning
              %a{href: "?#{container.sort_params(request.query_parameters, column).to_query}"}
                = column.header
            - else
              = column.header
  %tbody
    - container.rows.each do |row|
      %tr
        - container.columns.each do |column|
          %td
            = render(partial: "shared/formatter/" + column.formatter.to_s,
              locals: { object: row, value: column.display(row) })
