%table.row
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td{:align => "center"}
            %center
              %p{:style => "text-align:center;"}
                = t("mailer.footer_html", feedback_url: feedback_url)
        %tr
          %td{:align => "center"}
            %center
              %p{:style => "text-align:center;"}
                = image_tag "emails/logo-c2-blue.png", {:style => "margin: 0 auto; float: none;"}
          %td.expander
