%table.row
  %tr
    %td.wrapper.last
      %table.twelve.columns
        %tr
          %td
            %h3{class: "heading-center-top"}
              = text
              %br/

            %br
          %td.expander
