%table.two-thirds-width.proposal-attributes
  - proposal_attributes(proposal).each_slice(2) do |fields|
    %tr
      %td
        %p.proposal-data-label
          = fields[0][0]
        %p.proposal-data-attribute
          = fields[0][1]
      - if fields[1]
        %td
          %p.proposal-data-label
            = fields[1][0]
          %p.proposal-data-attribute
            = fields[1][1]
