.row
  .eight.columns
    %h2
      User Authentication
    %p
      - if !signed_in?
        In order to view this page, Please sign in with a MyUSA account.

    .actions
      - if !signed_in?
        = button_to 'Sign in with MyUSA', "/auth/myusa", :class => 'large button positive'
      - else
        %p
          Logged in as:
          [MyUSA]
          %b= session['user']['email']
        = button_to 'Logout', "logout", :class => 'large button positive'
