.controller-ncr-work_orders, .controller-feedback {
  .content.container {
    max-width: 400px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .form-group {
    .checkbox,
    .form-group {
      padding-left: 10%;
    }
  }
  .form-instructions {
      font-size: .75em;
      color: #767676;
    }
}

.controller-gsa18f-procurements {
  .content.container {
    max-width: 400px;
  }

  h3 {
    margin-bottom: 20px;
  }
}
