.controller-ncr-proposals {
  .content.container {
    max-width: 400px;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.controller-gsa18f-proposals {
  .content.container {
    max-width: 400px;
  }

  h3 {
    margin-bottom: 20px;
  }
}