.controller-ncr-work_orders {
  .content.container {
    max-width: 400px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .form-group .form-group {
    padding-left: 10%;
  }
}

.controller-gsa18f-proposals {
  .content.container {
    max-width: 400px;
  }

  h3 {
    margin-bottom: 20px;
  }
}
