.tabular-data {
  width: 100%;
  background: #fff;
  margin: 20px auto;

  td {
    padding: 15px;
    vertical-align: top;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  th {
    padding: 15px;
    width: 15%;   /* @todo: be more flexible; should be calculated from cols */
    background-color: #333;

    .table-header {
      display: inline-block;
      color: #e8e8e8;
      text-transform: uppercase;
      font-weight: 400;

      a {
        color: #e8e8e8;
      }
    }

    &.asc .table-header::after {
      content: ' \25b2';
    }

    &.desc .table-header::after {
      content: ' \25bc';
    }
  }
}
