- title = t("proposals.details.notification.cancel.title")
- desc = t("proposals.details.notification.cancel.desc")
- form_reason = t("proposals.details.notification.cancel.form_reason")
- save_button = t("proposals.details.notification.cancel.save_button")
- cancel_button = t("proposals.details.notification.cancel.cancel_button")

.after-cancel-modal-content
  %h4{class: "popup-content-label"}
    = title
  %p{class: "popup-content-desc"}
    = desc
