- title = t("proposals.details.notification.observer.title")
- desc = t("proposals.details.notification.observer.desc", count: @subscriber_list.count)
- cancel_button = t("proposals.details.notification.observer.cancel_button")
- save_button = t("proposals.details.notification.observer.save_button")

.observer-modal-content
  %h4{class: "popup-content-label"}
    = title
  %p{class: "popup-content-desc"}
    = desc
  %p
    = button_tag cancel_button, class: "cancel-cancel-link form-button cancel-button", data: { "modal-event": "cancel" }
    = button_tag save_button, class: "form-button", data: { "modal-event": "confirm" }