.popup-content{role: "dialog", "aria-labelledby" => "popup-content-label", "aria-describedby" => "popup-content-desc" }
  = button_tag "X", class: "cancel-cancel-link cancel-close-button"
  .additional-content
