.popup-content{role: "dialog", "aria-labelledby" => "popup-content-label", "aria-describedby" => "popup-content-desc", tabindex: "-1"}
  = button_tag "&times;".html_safe, class: "cancel-cancel-link cancel-close-button"
  .additional-content
