.action-bar-wrapper
  .medium-12.column
    %ul#request-actions.centered
      - if policy(@proposal).can_edit?
        - unless @proposal.canceled?
          %li.fr.modify-button
            = modify_client_button(@proposal, "Modify Request", "button primary fr large")
          %li.fr.save-button
            = modify_client_button(@proposal, "Save", "button primary fr large")
          %li.fr.cancel-button
            = link_to("Cancel", @proposal, class: "button secondary fr large")
      - if policy(@proposal).can_cancel?
        %li.fl.cancel-action
          = link_to "Cancel this request", cancel_form_proposal_path
