.row
  .medium-12.column
    .card
      .card-head.column
        %h2
          Attachments
      .content-content.column
        .row
          .medium-12.column
            = form_for [@proposal, Attachment.new], html: { multipart: true }, remote: true, authenticity_token: true do |f|
              = f.file_field :file, class: "attachment-file-input"
              = submit_tag "Attach a File", id: :add_a_file, data: {"disable-if-empty" => "attachment_file"}, class: "button primary round no-margin-bottom attachment-submit"
        .row
          .medium-12.column
            = render partial: "proposals/details/attachment_list",
              locals: { proposal: @proposal }
            <label for="attachment_file" class="button primary attach-icon large attachment-label">Attach File</lable>
