.attachments
  %ul.attachment-list
    - proposal.attachments.each do |attachment|
      - next if attachment.id.nil?
      %li.attachment-list-item
        %a{href: proposal_attachment_path(proposal, attachment)}
          = image_tag "icon-attachment.svg"
        %a{href: proposal_attachment_path(proposal, attachment)}
          <strong>#{attachment.file_file_name}</strong>
        - if policy(attachment).can_destroy?
          %span.remove-attachment-btn.text-right
            = button_to "", proposal_attachment_path(proposal, attachment), method: :delete, data: {confirm_REMOVETHIS: "Are you sure?", "modal-type": "attachment_confirm"}, remote: true, class: "text-right", "aria-label": "Remove #{ attachment.file_file_name } attachment"
  - if proposal.attachments.empty?
    .content-content.column
      .row
        .medium-12.column
          .item-block
            %p.empty-list-label No attachments have been added yet