.attachments
  %ul.attachment-list
    - proposal.attachments.each do |attachment|
      %li.attachment-list-item
        %a{href: proposal_attachment_path(proposal, attachment)}
          = image_tag "icon-attachment.svg"
        %a{href: proposal_attachment_path(proposal, attachment)}
          <strong>#{attachment.file_file_name}</strong>
        - if policy(attachment).can_destroy?
          = button_to "", proposal_attachment_path(proposal, attachment), method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "text-right"
  - if proposal.attachments.empty?
    .content-content.column
      .row
        .medium-12.column
          .item-block
            %p.empty-list-label No attachments have been added yet