.row
  .medium-12.column
    .card
      .card-head.column
        %h2
          Attachments
      .content-content.column
        .row
          .medium-12.column
            .file-drop
              %span{ 'data-placeholder' => 'Drop files here' } Drop files here

            %input.standard-attachment{ name: 'standard_attachment', accept: '*/*', type: :file, multiple: :multiple }

            = file_field_tag :file, class: "attachment-file-input", name: "attachment[file]", id: "attachment_file"
            = button_tag "Attach a File", id: :add_a_file, data: {"disable-if-empty" => "attachment_file"}, class: "button primary round no-margin-bottom attachment-submit"
        .row
          .medium-12.column
            = render partial: "proposals/details/attachment_list",
              locals: { proposal: @proposal }
            %label.button.primary.attach-icon.large.attachment-label{:for => "attachment_file"}
              Attach File
              = image_tag  "attachment.png", :class => "attachment-icon"
