.attachments
  %ul.attachment-list
    - proposal.attachments.each do |attachment|
      - next if attachment.id.nil?
      %li.attachment-list-item
        -# %a{href: proposal_attachment_path(proposal, attachment)}
        -#   = image_tag "icon-attachment.svg"
        .row
          %div.proposal-attachment_path.small-10.columns
            %a{href: proposal_attachment_path(proposal, attachment)}
              <strong>#{attachment.file_file_name}</strong>
          %div.remove-attachment-btn.text-right.small-2.columns
          - if policy(attachment).can_destroy?
            = button_to "Remove", proposal_attachment_path(proposal, attachment), method: :delete, data: {"modal-type": "attachment_confirm"}, remote: true, class: "button primary round no-margin-bottom", "aria-label": "Remove #{ attachment.file_file_name } attachment"
  - if proposal.attachments.empty?
    .content-content.column
      .row
        .medium-12.column
          .item-block
            %p.empty-list-label No attachments have been added yet
