.card-for-purchase-details
  .row
    .medium-12.column
      .card
        .card-head.column
          %h2
            Purchase Details
            = modify_client_button(@proposal, "Add / Edit", "button secondary fr large")
        .content-content.column
          .row
            .medium-12.column
              %p Details here
              .item-block
                %img{:alt => "", :src => "http://fakeimg.pl/35x35"}
                  %a{:href => ""} Vendor_Estimate.pdf
