.row
  .medium-12.column
    .card#request-details-card
      - if @client_data_instance
        .card-head.column
          %h2
            Request Details
        .content-content.column#view-request-details
          .row
            = render @current_user.client_slug + '/request_details'
