.row
  .medium-12.column
    .card#request-details-card
      - if @client_data_instance
        .card-head.column
          %h2
            Request Details
        .content-content.column#view-request-details
          .row
            = render client_specific_partial(@proposal.requester, '/request_details')
