.row
  .medium-12.column
    .card#request-details-card
      - if @client_data_instance
        .card-head.column
          %h2
            Request Details
            - if !@proposal.completed?
              = "<a class='edit-toggle button'>Edit</a>".html_safe

        .content-content.column#view-request-details  
          = render @current_user.client_slug + '/request_details'
