.card-for-request-details
  .row
    .medium-12.column
      .card
        .card-head.column
          %h2
            Request Details
            = modify_client_button(@proposal, "<span>Modify</span>".html_safe, "button secondary edit-icon fr large")
        .content-content.column
          .row
            .medium-12.column
              %p.request-detail Computer needed for new developer
          .row.request-content-wrapper
            .medium-6.column.medium-table-cell.right-border
              .detail-wrapper
                %label.detail-element Expense type
                %span.detail-value BA60
              .detail-wrapper
                %label.detail-element Direct pay
                %span.detail-value No
            .medium-6.column.medium-table-cell
              .detail-wrapper
                %label.detail-element Org code
                %span.detail-value P04M0001 (192X,192M) NON-INFRASTRUCTURE INFO TECHNOLOGY BR.
              .detail-wrapper
                %label.detail-element Function code
                %span.detail-value -
              .detail-wrapper
                %label.detail-element Object field / SOC code
                %span.detail-value -
              .primary.callout.no-margin-bottom.no-padding-bottom
                .row
                  .medium-4.column
                    %strong Total
                  .medium-8.column
                    .detail-wrapper
                      %label.detail-element Exact
                      %span.detail-value
                        %h4
                          %b $999.00
          .row.column
            .medium-12.callout.primary.column.medium-centered
              .row
                .medium-12.column
                  %h5
                    %b Line Item
              .row
                .medium-6.column
                  .detail-wrapper
                    %label.detail-element Vendor
                    %span.detail-value Apple Inc.
                  .detail-wrapper
                    %label.detail-element CL number
                    %span.detail-value -
                .medium-6.column
                  .detail-wrapper
                    %label.detail-element Building number
                    %span.detail-value DC0000NA - NEBRASKA AVE COMPLEX
                  .primary.callout.no-margin-bottom.no-padding-bottom
                    .row
                      .medium-4.column
                        %strong Total
                      .medium-8.column
                        .detail-wrapper
                          %label.detail-element Exact
                          %span.detail-value
                            %h4
                              %b $999.00
