.row
  .medium-12.column
    .card#request-details-card
      - if @client_data_instance
        .card-head.column
          %h2
            Request Details
            - if !@proposal.completed?
              = "<button class='edit-toggle'>Edit</button>".html_safe

        .content-content.column#view-request-details
          = simple_form_for @client_data_instance, html: { multipart: true }, remote: true do |f|
            - proposal.new_fields_for_display.each do |field|
              = request_detail_form field, f, @proposal, @client_data_instance
            = submit_tag "Submit", hidden: true
