- f = @form
.action-bar-container
  .action-bar-padding
    .action-bar-template#action-bar-wrapper.action-bar-wrapper
      .row
        .medium-12.column
          %ul#request-actions.request-actions.fr
            %li.back-button
              = link_to "CANCEL", proposals_path, class: "button secondary"
            %li.submit-button
              = f.submit "SUBMIT", class: "button secondary", disabled: false 
