.medium-12.top-notification-wrapper
  .row
    .medium-12.column
      = image_tag 'icon-configuration.png'
      %p
        This is a beta version of the Request Details page. #{link_to 'Switch to previous design', proposals_revert_design_path} if you prefer.
