- if @current_user.beta_user?
  - if @current_user.beta_detail?
    .top-notification-wrapper
      %p
        = t("proposals.details.notification.beta.old", link: revert_design_proposal_path(proposal) ).html_safe
  - else
    .top-notification-wrapper
      %p
        = t("proposals.details.notification.beta.new", link: activate_design_proposal_path(proposal) ).html_safe
