.medium-12.top-notification-wrapper
  .row
    .medium-12.column
      = image_tag 'icon-configuration.png'
      %p
        This is a beta version of the Request Details page. #{link_to 'Switch to previous design', revert_design_proposal_path(proposal)} if you prefer.
