# Rename these values and save this file at config/environment_variables.yml
development:
  MANDRILL_USERNAME: our_email@gmail.com
  MANDRILL_API_KEY: our_development_key
  NOTIFICATION_URL: 'localhost:3000'
  NOTIFICATION_TO_EMAIL: 'sending_to_person@gmail.com'
  NOTIFICATION_FROM_EMAIL: 'reply_our_email@gmail.com'
  MYGOV_CLIENT_ID: consumer_public_key
  MYGOV_SECRET_ID: consumer_secret_key
  MYGOV_HOME: https://myusa-staging.18f.us

production:
  MANDRILL_USERNAME: my_email@my_domain.com
  MANDRILL_API_KEY: our_production_key

test:
  MANDRILL_USERNAME: my_test_email@mydomain.com
  MANDRILL_API_KEY: our_test_key
  NOTIFICATION_URL: 'localhost:3000'
  NOTIFICATION_TO_EMAIL: 'to.some.email@some-dot-gov.com'
  NOTIFICATION_FROM_EMAIL: 'reply-email@some-dot-gov.com'
  MYGOV_CLIENT_ID: consumer_public_key
  MYGOV_SECRET_ID: consumer_secret_key
  MYGOV_HOME: https://myusa-staging.18f.us
