#Rename these values and save this file at config/environment_variables.yml
development:
  SMTP_DOMAIN: 'my_domain.com'
  GMAIL_USERNAME: our_email@gmail.com
  GMAIL_PASSWORD: our_secret_password
  NOTIFICATION_URL: 'localhost:3000'
  NOTIFICATION_TO_EMAIL: 'sending_to_person@gmail.com'
  NOTIFICATION_FROM_EMAIL: 'reply_our_email@gmail.com'

production:
  GMAIL_USERNAME: my_email@my_domain.com
  GMAIL_PASSWORD: my_secret_production_password