.header-nav {
  display: inline-block;
  float: right;
  color: #fff;

  li {
      display: inline-block;
      padding-right: 12px;
    }

  a {
      color: #fff;
    }

}

.mycart-link {
  clear: all;
  margin-top: -20px;
}

@media (max-width: 480px) {
  .header-nav {
    padding-start: 0px;
    text-align: right;
    li {
      padding-right: 0;
    }
  }
}

.top-notification-wrapper{
  p{
    margin: 0px;
    height: 42px;
    background: #747779;
    color: white;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    a{
      color: white;
      text-decoration: underline;
    }
  }
}
