.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id }
    - if client_field != "--"
      .detail-display.column
        %label.detail-element
          = t(t_slug + key)
        %span.detail-value
          Direct pay will be used
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = f.input :direct_pay,
          label: t("simple_form.labels.ncr_work_order.direct_pay_html"),
          label_html: { data: popover_data_attrs("direct_pay") }
