.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper"}
    .detail-display.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value{id: value_id }
        = client_data[key]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value
        = f.input :direct_pay,
          label: t("simple_form.labels.ncr_work_order.direct_pay_html"),
          label_html: { data: popover_data_attrs("direct_pay") }
