- if proposal.client_data.expense_type == 'BA61'
  .column{ id: key + '-wrapper-2', data: {"filter-key": "expense-type", "filter-value": "BA61"}}
    .detail-wrapper.row{ class: key + "-wrapper", id: value_id}
      .detail-display.column
        %label.detail-element
          = t(t_slug + key)
        %span.detail-value
          = client_field
      .detail-edit.column
        %label.detail-element
          = t(t_slug + key)
        %span.detail-value
          = client_field
