.column{ id: key + '-wrapper-2', data: {"filter-key": "expense-type", "filter-value": "BA61"}}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id}
    .detail-display.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value
        = client_data[key]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value
        = f.input :emergency,
          disabled: @client_data_instance.persisted?,
          wrapper_html: { data: { filter_key: "expense-type", filter_value: "BA61" } }
