.column{ id: key + '-wrapper-3', data: {"filter-key": "expense-type", "filter-value": "BA80"}}
  .detail-wrapper.row{ class: key + "-wrapper"}
    .detail-display.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value{id: value_id }
        = client_data[key]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key) 
      %span.detail-value
        = f.input :rwa_number, required: true, wrapper_html: { data: { filter_key: "expense-type", filter_value: "BA80" } }, label: false
