%h1.c2n_header.view-title#proposal_header
  %span.header-content
    %span.display-content
      = @client_data_instance.project_title
    %span.display-edit
      %input{ type: "text", value: @client_data_instance.project_title }/
