%h1.c2n_header.view-title{ id: "proposal-title-wrapper" }
  = simple_form_for @client_data_instance, html: { multipart: true }, include_hidden: false, remote: true do |f|
    %span.detail-display
      %span.display-value
        = @client_data_instance.project_title
      %span.display-edit
        %form
          = f.input :project_title, label: false
