%h1.c2n_header.view-title{ id: "proposal-title-wrapper" }
  - value_id = "project_title" + '-' + @client_data_instance.id.to_s
  %span{ id: value_id }
    %span.detail-display
      %span.detail-value
        = @client_data_instance.project_title
      %span.detail-edit
        = f.input :project_title, 
        label: "Project Title",
        label_html: { class: "sr-only" }
