%h1.c2n_header.view-title{ id: "proposal-title-wrapper" }
  %span.header-content
    %span.display-content
      = @client_data_instance.project_title
    %span.display-edit
      %form
        %input{ id: "proposal-title-input", type: "text", value: @client_data_instance.project_title }/
