.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id}
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = client_field
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = f.input :vendor,
          input_html: { class: "js-selectize required",
          data: { initial: JSON.generate(vendor_options(@client_data_instance.vendor)) }},
          label: "Vendor",
          label_html: { class: "sr-only" }
