<%- if @cart.flow == 'linear' %>
  <%= render partial: "linear_approval_status" %>
<%- else %>
  <div class="col-md-4  col-xs-12 communicart_description">
    <div class="purchase-status">
      <h5 class="<%= @cart.status %>"><%= @cart.display_status %></h5>
    </div>
  </div>
<%- end %>
