<div class="centered">
  <p>
    <%= link_to "Approve",
        approval_response_path(approver_action: 'approve',
                               cart_id: cart.id,
                               user_id: current_user.id,
                               ), class: 'form-button' %>

    <%= link_to "Reject",
        approval_response_path(approver_action: 'reject',
                               cart_id: cart.id,
                               user_id: current_user.id,
                               ), class: 'reject-link' %>
  </p>
</div>
