<div class="row past-pr">
  <div class="col-sm-12">
    <h3>All Past Purchase Requests</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: "proposal_list", locals: { proposals: @closed_proposals_full_list, role: @role, closed: true} %>
  </div>
</div>
