%tr.success
  %td{colspan: "2"}
    - if @step.is_a?(Steps::Purchase)
      Your request has been purchased. See details below.
    - else
      Your request has been fully approved. See details below.
