.title-block
  %span.status-action
  Proposal #{event.event_type}d
  - if event.user
    by #{event.user.full_name}
  %span.time-from
    = date_with_tooltip(event.created_at, true)
.item-block
  = event.decorated_version.to_html.html_safe