<% if comments.any? %>
  <h3>Comments</h3>
  <table>
    <% comments.each do |c| %>
    <tr>
      <td>
        <p>
          <%= l(c.created_at.to_date) %>
        </p>
      </td>

      <td>
        <p>
          <% unless c.user.nil? %>
          <em>
            <%= "#{c.user_full_name} (#{c.user_email_address})" %>
          </em><br/>
          <% end %>
          <%= c.comment_text %>
        </p>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
