<% if comments.any? %>
  <table class='comments-section'>
    <tr>
      <td colspan='2' class='w-container'>
        <strong>Comments</strong>
      </td>
    </tr>
    <% comments.each do |c| %>
    <tr>
      <td valign='top' class='comment-detail first'>
        <p>
          <%= l(c.created_at.to_date) %>
        </p>
      </td>

      <td valign='top' class='comment-detail'>
        <p>
          <% unless c.user.nil? %>
            <strong><%= c.user_full_name %></strong><br/>
          <% end %>
          <%= c.comment_text %>
        </p>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
