- # pass in show_approval_actions bool and an approval instance
%table.reply-section
  %tr{:height => "25"}
    %td{:bgcolor => "#f5f5f5", :colspan => "2", :height => "25"}
  %tr#approval-actions
    %td{:align => "center", :colspan => "2"}
      - if show_approval_actions
        %p
          = link_to "Approve", generate_approve_url(approval), class: 'form-button'
        %p
          %strong
            = link_to "Or Send a Comment", proposal_url(approval.proposal, anchor: 'comments'), {target: 'C2'}
      - else
        %p
          %strong
            = link_to "View This Request", proposal_url(approval.proposal), {target: 'C2'}
