<table class='reply-section'>
  <tr height="25"><td colspan=2 height="25" bgcolor="#f5f5f5"></td></tr>
  <tr id="approval-actions">
    <td colspan=2 align="center">
      <% if show_approval_actions %>
        <p>
          <%= link_to "Approve", approval_action_url(approval), class: 'form-button' %>
        </p>
      <% end %>
      <p>
        <strong>
          <%= link_to "Or Send a Comment", proposal_url(cart.proposal, anchor: 'cart-comments') %>
        </strong>
      </p>
    </td>
  </tr>
</table>
