<table class='reply-section'>
  <tr height="25"><td colspan=2 height="25" bgcolor="#f5f5f5"></td></tr>
  <tr id="approval-actions">
    <td colspan=2 align="center">
      <p>
        <%= link_to "Approve", approval_action_url(approval), class: 'form-button' %>
        or
        <%= link_to "Comment", cart_url(cart, anchor: 'cart-comments'), class: 'form-button' %>
      </p>
      <p>
        <strong>
          <%= link_to "Or view it in your browser", cart_url(cart) %>
        </strong>
      </p>
    </td>
  </tr>
</table>
