<table class='reply-section'>
  <tr id="approval-actions">
    <td colspan=2 align="center">
      <p>
        <strong>
          <%= link_to "Or, view this request in your browser", carts_url %>
        </strong>
      </p>
    </td>
  </tr>
</table>
