<body class="communicart-notification">
  <table class='reply-section'>
    <tr>
      <td class="w-container html-email-message">
        ------------------
        <br/>

        <p>
          Additional comments:
        </p>

        <% unless @cart.comments.empty? %>
          <p>
            <%= @cart.comments.first.comment_text %>
          </p>
        <% end %>

        <br/>
      </td>
    </tr>
  </table>

  <%= render partial: "shared/cart", locals: {cart: @cart} %>

</body>
