<body class="communicart-notification">
  <table class='reply-section'>
    <% unless @show_approval_actions %>
      <tr>
        <td>
          <h3 class="email-alert-header">
            You have been notified because this request has changed. Please see the updated request below. Since you have already responded, no further action is required at this time.
          </h3>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="w-container html-email-message">
        <% unless @prefix_template.blank? %>
          <%= render partial: @prefix_template, locals: {cart: @cart, title:  "Purchase Request"} %>
        <% end %>
      </td>
    </tr>
  </table>

<div style="width:800px">
  <%= render partial: 'comments', locals: { comments: @cart.comments } %>

  <%= render partial: @cart.cart_template_name, locals: { cart: @cart, title:  "Purchase Request" } %>

  <%= render partial: 'email_reply', locals: { cart: @cart, approval: @approval, show_approval_actions: @show_approval_actions } %>

</div>
</body>
