<body class="communicart-notification">
  <table class='reply-section'>
    <tr>
      <td class="w-container html-email-message">
        <% unless @prefix_template.blank? %>
          <%= render partial: @prefix_template, locals: {cart: @cart, title:  "Purchase Request"} %>
        <% end %>
      </td>
    </tr>
  </table>

<div style="width:800px">
  <%= render partial: 'comments', locals: { comments: @cart.comments } %>

  <%= render partial: @cart.cart_template_name, locals: { cart: @cart, title:  "Purchase Request" } %>

  <%= render partial: 'email_reply', locals: { cart: @cart, approval: @approval } %>

</div>
</body>
