<body class="communicart-notification">
  <table class='reply-section'>
    <tr>
      <td class="w-container html-email-message">
        <%= client_partial(
          @proposal.client, "mail_prefix",
          locals: {proposal: @proposal, title: "Purchase Request"}) %>
      </td>
    </tr>
  </table>

<div style="width:800px">
  <%= render partial: 'comments', locals: { comments: @cart.comments } %>

  <%= client_partial(@cart.proposal.client, 'cart_mail',
                     locals: {cart: @cart, title: "Purchase Request"}) %>

  <%= render partial: 'email_reply', locals: { cart: @cart, approval: @approval, show_approval_actions: true } %>

</div>
</body>
