<body class="communicart-notification">
  <table class="w-container main-container" width='800'>

    <tr>
      <td class="w-container html-email-message">
        <p>
          Hello,<br/>
          A comment has been created for <strong><%= @comment.commentable.name %>:</strong>
        </p>
        <p>
          <%= @comment.comment_text %>
        </p>
      </td>
    </tr>
  </table>
</body>
