<body class="communicart-notification">
  <table class="w-container main-container" width='800'>
    <% proposal = @comment.proposal %>
    <tr><td class="w-container html-email-message">
      <p>
        Action need on Request 
        #<%= proposal.public_identifier %>
        (<%= proposal.name %>):
      </p>
    </td></tr>
    <tr><td class="w-container html-email-message">
      <%= @comment.comment_text %>
    </td></tr>
    <tr><td class="w-container html-email-message">
      <%= link_to "View / Update Request", proposal_url(proposal, anchor: 'comments'), {class: 'form-button', target: 'C2'} %>
    </td></tr>
  </table>
</body>
