.alert.alert-notice
  = observer_text
- proposal = @observation.proposal
= client_data_partial(proposal.client_data_prefix,
    "proposal_mail",
     locals: { proposal: proposal, title: "Purchase Request" })
