<body class="communicart-notification">
  <table class='reply-section'>
    <% unless @show_approval_actions %>
      <tr>
        <td>
          <h3 class="email-alert-header">
            You have been notified because this request has changed. Please see the updated request below. Since you have already responded, no further action is required at this time.
          </h3>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="w-container html-email-message">
        <%= client_partial(
          @proposal.client, "mail_prefix",
          locals: {proposal: @proposal, title: "Purchase Request"}) %>
      </td>
    </tr>
  </table>

<div style="width:800px">
  <%= render partial: 'comments', locals: { comments: @proposal.comments } %>

  <%= client_partial(@proposal.client, 'cart_mail',
                     locals: {cart: @proposal.cart, title: "Purchase Request"}) %>

  <%= render partial: 'email_reply', locals: { cart: @proposal.cart, approval: @approval, show_approval_actions: @show_approval_actions } %>

</div>
</body>
