<body class="communicart-notification">
  <div>
    Hi <%= @cart.requester.full_name %>,<br/>
    You just submitted a request for approval. Here is are details about your request:
  </div>
  <%= client_partial(@cart.proposal.client, 'cart_mail',
                     locals: {cart: @cart, title: "Purchase Request"}) %>
</body>
