<body class="communicart-notification">
  <div>
    Hi <%= @proposal.requester.full_name %>,<br/>
    You just submitted a request for approval. Here is are details about your request:
  </div>
  <%= client_partial(@proposal.client, 'proposal_mail',
                     locals: {proposal: @proposal, title: "Purchase Request"}) %>
</body>
