  <div>
    Hi <%= @proposal.requester.full_name %>,<br/>
    You just submitted a request for approval. Here are the details:
  </div>
  <%= render partial: 'comments', locals: { comments: @proposal.comments } %>
  <%= render partial: 'attachments', locals: { proposal: @proposal, attachments: @proposal.attachments } %>
  <%= client_partial(@proposal.client, 'proposal_mail',
                     locals: {proposal: @proposal, title: "Purchase Request"}) %>
