%table.full-width.header
  %tr
    %td.hero
    %td
      = image_tag "emails/icon-thumbs-up-circle.png", class: "header-icon"

%table.two-thirds-width
  %tr
    %td.header
      = t("mailer.proposal_mailer.proposal_completed.header")

%table.two-thirds-width
  %tr
    %td.subheader
      = t("mailer.proposal_mailer.proposal_completed.subheader")
