%tr
  %td
    %table.row
      %tr
        %td.offset-by-three{align: "center", valign: "top"}
          %table.six.button-wrap
            %tr
              %td.sub-columns.last.center{align: "center", valign: "top"}
                %div.button-div
                  = link_to link_path, target: "_blank" do
                    = link_text
  %td.expander
