%tr
  %td{align: "center"}
    / [if !mso]><!--
    %table.columns.six{align: "center"}
      %td{align: "center"}
        %div.button-div
          = link_to link_path, target: "_blank" do
            = link_text
    / <![endif]
