- height    = !height.nil?    ? ' ' + height    : ''
- vertical  = !vertical.nil?  ? ' ' + vertical  : ''
- align     = !align.nil?     ? ' ' + align     : ''

%tr{class: height}
  %td
    %table.row
      %tr
        %td.wrapper.last{class: "padding-10"}
          %table.twelve.columns
            %tr
              %td.center{align: "center", valign: "top", class: "no-bottom-padding"}
                %center
                  %p{ class: "paragraph-font-style" + vertical + align}
                    = subheader
              %td.expander
 
