%table.row
  %tr
    %td.wrapper.last{class: "padding-10"}
      %table.twelve.columns
        %tr
          %td.center{align: "center", valign: "top", class: "no-bottom-padding"}
            %center
              %p{ class: "paragraph-font-style"}
                = subheader
