- bold      = !bold.nil?      ? " " + bold      : ""
- height    = !height.nil?    ? " " + height    : ""
- vertical  = !vertical.nil?  ? " " + vertical  : ""
- wrapvert  = !wrapvert.nil?  ? " " + wrapvert  : "padding-10"
- align     = !align.nil?     ? " " + align     : ""

%tr{class: height}
  %td
    %table.row
      %tr
        %td.wrapper.last{ class: wrapvert }
          %table.twelve.columns
            %tr
              %td.center{ align: "center", valign: "top", class: "no-bottom-padding" }
                %center
                  %p{ class: "paragraph-font-style" + vertical + align + bold }
                    = subheader
              %td.expander
 
