.column{ class: key + "-wrapper", id: key + '-wrapper'}
  .detail-wrapper.row{ id: value_id }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = client_data[key]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = f.input :cost_per_unit,
          as: :currency,
          label_html: { class: "sr-only" }, label: false
