.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = property_to_s(client_field)
    .detail-edit.column
      %label.detail-element{for: "gsa18f_event_justification"}
        = t(t_slug + key)
      %span.detail-value
        = f.input :justification, label: false
