.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id, "data-key" => Gsa18f::Procurement::OFFICES }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = Gsa18f::Procurement::OFFICES[client_data[key].to_i]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = f.input :office, collection: Gsa18f::Procurement::OFFICES, label: false
