.column{ id: key + '-wrapper', class: "half-col-wrap"}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id, "data-key" => Gsa18f::Procurement::PURCHASE_TYPES.keys }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = Gsa18f::Procurement::PURCHASE_TYPES.keys[client_field.to_i]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = f.input :purchase_type,
          collection: Gsa18f::Procurement::PURCHASE_TYPES.keys,
          include_blank: true, label: false
