.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id }
    .detail-display.column{ "data-filter-key" => "recurring", "data-filter-value" => 1 }
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = client_data[key]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        %div{ "data-filter-key" => "recurring", "data-filter-value" => 1 }
          = f.input :recurring_interval,
            collection: Gsa18f::Procurement::RECURRENCE,
            include_blank: false,
            required: true, label: false
