.column{ class: key + "-wrapper half-col-wrap sub-card sub-card-left", id: key + '-wrapper', "data-filter-key" => "recurring", "data-filter-value" => 1 }
  .detail-wrapper.row{ id: value_id, "data-" + key => Gsa18f::Procurement::RECURRENCE }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = Gsa18f::Procurement::RECURRENCE[client_data[key].to_i]
    .detail-edit.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        %div
          = f.input :recurring_interval,
            collection: Gsa18f::Procurement::RECURRENCE,
            include_blank: false,
            required: true, label: false
