%h1.c2n_header.view-title{ id: "proposal-title-wrapper" }
  - value_id = "title_of_event" + '-' + @client_data_instance.id.to_s
  %span.detail-display{ id: value_id }
    %span.detail-value
      = @client_data_instance.title_of_event
    %span.detail-edit
      = f.input :title_of_event, label: false
