%h1.c2n_header.view-title{ id: "proposal-title-wrapper" }
  - value_id = "product_name_and_description" + '-' + @client_data_instance.id.to_s
  %span.detail-display{ id: value_id }
    - if @client_data_instance.class == Gsa18f::Event
      %span.detail-value
        = @client_data_instance.title_of_event
      %span.detail-edit
        = f.input :title_of_event, label: false
    - else
      %span.detail-value
        = @client_data_instance.product_name_and_description
      %span.detail-edit
        = f.input :product_name_and_description, label: false
        