.column{ id: key + '-wrapper'}
  .detail-wrapper.row{ class: key + "-wrapper", id: value_id }
    .detail-display.column
      %label.detail-element
        = t(t_slug + key)
      %span.detail-value
        = client_field
    .detail-edit.column
      %span.detail-value
        = f.input :travel_required, label_html: { class: "detail-element "}
