<!DOCTYPE html>
<html lang="en">
<head>
  <title>Communicart: Approval</title>
</head>

<body class='communicart-notification'>
  <%= render partial: "carts/cart", locals: {cart: @cart} %>
</body>

</html>
