- # pass in show_approval_actions bool and an approval instance
%table.reply-section
  %tr{height: 25}
    %td{colspan: 2, height: 25, bgcolor: '#f5f5f5'}
  %tr#approval-actions
    %td{colspan: 2, align: 'center'}
      - if show_step_actions
        %p
          = link_to step.action_name, generate_approve_url(step), class: 'form-button'
        %p
          %strong
            = link_to "Or Send a Comment", proposal_url(proposal, anchor: 'comments'), {target: 'C2'}
      - else
        %p
          %strong
            = link_to "View This Request", proposal_url(proposal), {target: 'C2'}
