%table.full-width
  %tr
    %td.header
    %td
      = image_tag "/assets/emails/icon-page-circle.png", class: "header-icon"

%table
  %tr
    %td
      = t("mailer.proposal_created_confirmation.body")
