%table.full-width.header
  %tr
    %td.header
    %td
      = image_tag asset_url("emails/icon-page-circle.png"), class: "header-icon"

%table.full-width
  %tr
    %td.subheader
      = t("mailer.proposal_created_confirmation.body_html", proposal_name: @proposal.name)
