<%#-- This snippet describes who needs to review a proposal.
      It needs access to both "proposal" and "current_user" 
      @todo: this results in an additional db query per row
--%>
<% approvers = proposal.currently_awaiting_approvers %>
<% if proposal.pending? && approvers.include?(current_user) %>
  <p><strong>Please review</strong></p>
<% elsif proposal.pending? %>
  <p><em>Waiting for review from:
    <%= approvers.map(&:full_name).join(', ') %></em></p>
<% else %>
  <%= proposal.status.titlecase %>
<% end %>
