.row.m-search-ui
  %form.form-inline{action: query_proposals_path, method: 'get'}
    .input-group
      %input.form-control{type: 'text', name: 'text', value: @text}
      %span.input-group-btn
        %button.btn.btn-default{type: 'submit'}
          Search
