<div class="inset">
  <div class="row past-pr">
    <div class="col-sm-12">
      <h3>All Past Purchase Requests</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render partial: "shared/table", locals: {container: @proposal_data} %>
    </div>
  </div>
</div>
