<div class="row past-pr">
  <div class="col-sm-12">
    <h3>All Past Purchase Requests</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= client_partial current_user.client_slug, "proposal_list",
               locals: {proposals: @proposals, role: @role,
                        closed: true} %>
  </div>
</div>
