<% content_for :title, "My Requests" %>
<%= render 'layouts/scripts' %>

<div id="proposals-unfiltered" class="proposals-unfiltered row">
  <div class="medium-12 large-6 column">
    <h3>Requests</h3>
  </div>
  <div class="medium-12 large-6 column">
    <% if display_search_ui? %>
      <%= render partial: "shared/search_ui_next", locals: { show_adv_search_ui: params[:search] } %>
    <% end %>
  </div>
  <div class="medium-12 column">
    <% if @unfiltered_data.rows.any? %>
      <%= render partial: "shared/table_next", locals: { container: @unfiltered_data } %>
    <% else %>
      <p class="empty-list-label">No purchase requests</p>
    <% end %>
  </div>
</div>
