<% content_for :title, "My Requests" %>
<%# TODO: Remove this flag when making redesign permanent %>
<% unless ENV["HIDE_DESIGN_TOGGLE"] %>
  <% content_for :top_notification do %>
    <% render partial: "proposals/details/top_notification" %>
  <% end %>
<% end %>
<%= render "layouts/notices" %>
<meta name="list_view_config" content='<%= @list_view_config.html_safe %>'>
<div id="proposals-unfiltered" class="proposals-unfiltered">
  <% if display_search_ui? %>
    <div class="medium-12 large-6 large-push-6 column">
      <%= render partial: "shared/search_ui", locals: { show_adv_search_ui: params[:search] } %>
    </div>
  <% end %>
  <div class="medium-12 large-6 <% if display_search_ui? %>large-pull-6<% end %> column">
    <h3>Requests</h3>
  </div>
  <div class="medium-12 column" style='clear:both'>
    <% if @unfiltered_data.rows.any? %>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
      <%= render partial: "shared/table_next", locals: { container: @unfiltered_data } %>
    <% else %>
      <p class="empty-list-label">No purchase requests</p>
    <% end %>
  </div>
</div>
