.inset
  %h1
    Proposals participated in
  %strong Currently displaying results for:
  = property_to_s(@text)
  - if @adv_search.to_s.present?
    = @adv_search.to_s
  %br
  %a{ :href => proposals_path } Clear search terms
  #query-links
    %a{ href: request.original_url + "&format=csv" }
      Download
      %i.fa.fa-download
    %a{ href: "#", onclick: "saveSearch" }
      Save as Report
      %i.fa.fa-save
  = datespan_header(@start_date, @end_date)
  = render partial: 'shared/table', locals: {container: @proposals_data}
  - if @proposals_data.rows.empty?
    %p.empty-list-label
      No results
