$c2blue: #006be6;
$white: #fff;
$webpadding: 40px;
$webwidth: 1020px;
$web-content-width: 960px;
$bgdetails: #efefef;
$borderdetails: #bdbdbd;
$lightgray: #838383;
$medgray: #545454;
$break-small: 480px;
