@import "bootstrap/variables";

.proposal-properties {
  $sideMargin: $grid-gutter-width / 2;

  td:first-child {
    width: 25%;
  }

  .header td {
    padding: $sideMargin;
  }

  // force specificity
  body.webapp & .proposal-property td {
    padding: 12px $sideMargin;
  }
}
