tr.cart_item_information {
  td {
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #fff;
    padding-right: 10px;
  }

  p {
    color: #666;
    font-size: 80%;
  }
}
