@import "constants";

#communicart_header a {
  color: #fff;
}

#header-identity {
  display: inline-block;
}

#header-identity h1 {
  margin: 0;
  color: #fff;
}

.header-nav {
  display: inline-block;
  float: right;
  color: #fff;
}

ul#breadcrumb-nav {
  width: 800px;
  margin: 0 auto;
  padding: 10px 40px 0 33px;

  li {
    background-image: image-url('icon-back-arrow.png');
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 17px;
    margin: 0;

    a {
      color: $c2blue;
    }
  }
}

#communicart_logo {
  background-image: image-url('img-logo-communicart-portal.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 30px;
  text-indent: -2000px;
}

.header-nav li {
  display: inline-block;
  padding-right: 12px;
}

.mycart-link {
  clear: all;
  margin-top: -20px;
}

@media (max-width: 480px) {
  .header-nav {
    padding-start: 0px;
    text-align: right;
    li {
      padding-right: 0;
    }
  }
}

.photon-header-nav-container {
  position: absolute;
  right: 0;
  top: 40px;
  @media (max-width: 800px) {
    position: inherit;
    display: block;
    top: 0;
  }
}
