.sandbox-banner {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  width: 100%;
  display: block;
  background: #fff2bb;
  border: 1px solid #d9d9d9;
  border-top: none;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  color: #333;

  a, a:hover {
    color: #006be6;
  }
}