@import "constants";

.inset.search {
  background-color: #eee;
  height: 4em;
  margin-right: 25px;
  margin-left: 10px;
}


.m-search-ui {
  z-index: 100;
  position: absolute;
  right: 0;
  width: 30%;
  min-width: 450px;
  padding-right: 25px;

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $placeholdergray;
    font-style: normal;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholdergray;
    opacity: 1;
    font-style: normal;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholdergray;
    opacity: 1;
    font-style: normal;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholdergray;
    font-style: normal;
  }
  :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: $placeholdergray;
    font-style: normal;
  }

  .form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }

  fieldset {
    padding: 15px 15px 0px 15px;
  }

  .form-control:focus {
    border-color: #ccc;
  }

  fieldset.basic {
    margin-bottom: 15px;

    .form-group {
      margin-bottom: 0px;
    }

    .search-terms {
      border-right: 0px;
      box-shadow: none;
    }

    .search-terms-adv-show {
      border-bottom-left-radius: 0px;
    }

    #adv-options {
      a {
        background-color: #e3e3e3;
        text-decoration: none;
        color: #0C75E1;
        border-color: #e3e3e3;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }
      a:hover {
        background-color: #eee;
      }
    }

    .input-group-block {
      display: block;
      input {
      }
    }

    .input-group-addon.magnifier {
      border-left: 0px;
      background-color: #fff;
      color: $placeholdergray;
    }

  }
}

.expense-type-search-field, .second-col-width{
  width: 240px;
}

.beta-list .form-control {
    height: 2.4375rem;
}

.beta-list .resetter{
  position: absolute;
  left: 15px;
}

.beta-list fieldset.basic.search-container {
    padding: 0px;
}

.beta-list #adv-search-button{
  margin-bottom: 0px;
}

.beta-list{
  fieldset.adv .form-group .col-xs-5.right.wide {
    padding-left: 38px;
  }
}

.m-search-ui.expanded {
  background-color: #e3e3e3;
  margin-right: 35px;
  padding-right: 0px;
  // border: 1px solid #ccc;
  border-radius: 2px;

  .input-group-addon.magnifier {
    color: $magnifiergray;
  }

  .form-group {
    label {
      font-size: 90%;
    }
  }

  fieldset.basic {
    margin-bottom: 0px;
  }

  fieldset.controls {
    padding: 15px 0px 15px 15px;
    background-color: #f2f2f2;
  }

  .resetter {
    font-size: 90%;
  }

  .adv-controls {
    padding: 0px 15px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-right: 20px;

    .results-count-preview {
      float: left;
      font-size: 90%;
      font-weight: bold;
      margin-top: 8px;
      padding-right: 15px;
    }

    #adv-search-button {
      float: right;
      min-width: 130px;
    }
  }

  .closer {
    position: absolute;
    right: 15px;
    font-size: 90%;
    text-decoration: none;
    display: block;
    float: left;
    margin-top: 0px;
  }
}

form.subscription {
  .radio {
    label {
      display: block;
    }
  }
  fieldset {
    legend {
      color: $lightgray;
    }
  }
}

.action-button {
  padding-bottom: 15px;
}

.report-group {
  padding-bottom: 15px;

  .field {
    color: $lightgray;
  }
  .value {
    font-weight: bold;
  }
}

table.reports {
  td.subscription, td.edit, td.run {
    text-align: right;
    font-size: 90%;
  }
}

fieldset.adv {
  .short {
    width: auto;
  }

  .form-group.row > * {
    float: none;
    display: inline-block;
  }

  .form-group {
    margin-left: 0;
    margin-right: 0;

    label.inline {
      float: left;
      padding-right: 15px;
    }

    .col-xs-5 {
      padding: 0;
    }

    .col-xs-5.right {
      padding-left: 15px;
    }

    .col-xs-5.right.wide {
      padding-left: 45px;
    }

    .col-xs-5.inline,
    .col-xs-5.inline label,
    .col-xs-5.inline input {
      display: inline-block;
      width: auto;
    }

    .col-xs-5.inline label {
      float: left;
      padding-right: 15px;
    }

    .col-xs-5.inline {
      vertical-align: bottom;
    }
  }
}

@media screen and (max-width: 1024px) {
  .m-search-ui {
    position: relative;
  }
}

@media screen and (max-width: 512px) {
  .m-search-ui {
    width: 100%;
    min-width: 100%;
  }

  fieldset.adv {
    padding-top: 5px;
    .form-group.row > * {
      float: left;
      display: block;
    }
    .form-group {
      label.inline {
        float: none;
      }
      .short {
        width: 100%;
      }
      .col-xs-5 {
        width: 100%;
      }
      .col-xs-5.right {
        padding-left: 0px;
      }
      .col-xs-5.right.wide {
        padding-left: 0px;
        margin-top: 15px;
      }
      .col-xs-5.right.inline,
      .col-xs-5.right.inline label {
        margin-top: 15px;
      }
    }
  }
}
