@import "constants";

// based on http://bootsnipp.com/snippets/featured/advanced-dropdown-search
.m-search-ui {
  padding: 12px 0;
  text-align: right;
  width: 50%;
  float: right;

  .search-terms {
  }

  .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
  }
  .input-group-btn .btn-group {
    display: flex !important;
  }
  .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
  }
  .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-group .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  @media screen and (min-width: 768px) {
    .dropdown.dropdown-lg {
      position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
      min-width: 500px;
    }
  }
}

form.subscription {
  .radio {
    label {
      display: block;
    }
  }
  fieldset {
    legend {
      color: $lightgray;
    }
  }
}

.action-button {
  padding-bottom: 15px;
}

.report-group {
  padding-bottom: 15px;

  .field {
    color: $lightgray;
  }
  .value {
    font-weight: bold;
  }
}

table.reports {
  td.subscription, td.edit, td.run {
    text-align: right;
    font-size: 90%;
  }
}

.adv-search {
  .short {
    width: auto;
  }

  .form-group.row {
    font-size: 0;
  }

  .form-group.row > * {
    float: none;
    display: inline-block;
    font-size: 14px;
  }

  .form-group {
    margin-left: 0;
    margin-right: 0;

    label.inline {
      float: left;
      padding-right: 15px;
    }

    .col-xs-5 {
      padding: 0;
    }

    .col-xs-5.right {
      padding-left: 15px;
    }

    .col-xs-5.right.wide {
      padding-left: 45px;
    }

    .col-xs-5.inline,
    .col-xs-5.inline label,
    .col-xs-5.inline input {
      display: inline-block;
      width: auto;
    }

    .col-xs-5.inline label {
      float: left;
      padding-right: 15px;
    }

    .col-xs-5.inline {
      vertical-align: bottom;
    }
  }

  #adv-search-button {
    float: right;
  }
}
