body {
  font-family: helvetica, verdana, arial, sans-serif;
  margin-bottom: 150px;
  font-size: 14px;
}

h3 {
  color: #1b3089;
}

#instructions {
  margin: 1em 2em;
  padding: .2em 1em;
  border: 1px solid #333399;
  width: 30em;
}

[aria-hidden=true] {
  display: none !important;
}
