$light-grey: #585858;
$bright-blue: #0744a4;

table.full-width {
  width: 100%;
}

table.header {
  background: $bright-blue;
}

td.header {
  height: 4em;
}

.header-icon {
  position: relative;
  top: 2em;
  display: block;
  margin: 0 auto;
}

.subheader {
  padding: 3em;
  font-size: 24px;
  color: $light-grey;
  text-align: center;
}
