#communicart_bookmarklet {
  position:absolute;
  top:200px;
  left:200px;
  border: 1px solid rgba(128, 128, 128, .9);
  background-color: rgba(250,250,250,0.95);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 9999;
  width: 666px;
  height:300px;
}

#pic_holder {
  width: 200px;
  height: 200px;
}