#communicart_bookmarklet {
  position:absolute;
  top:200px;
  left:200px;
  z-index: 9999;
  width: 600px;
  height:600px;
}

#pic_holder {
  padding-top: 1em;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #888;
}

#prod_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


#cartscreen {
   display:none;
  top: 0px;
}

#formscreen {
  top: 0px;
}

.btn {
	background-color: #d0d0d0;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:6px;
	border:1px solid #a7a7a7;
	display:inline-block;
	cursor:pointer;
	color:#333;
	font-family:arial;
	font-size:.8em;
	padding:6px 20px;
    margin: 5px;
	text-decoration:none;
}
.btn:hover {
	background-color:#999999;
}
.btn:active {
	position:relative;
	top:1px;
}

.priceerror {
  p {
    color: #ff0000;
    font-family:arial;
  }
  display: none;
}

.cctitle {
  font-weight: bold;
  color: #333;
  font-size: 12px;
}

#ccheader {
  background-color: #d0d0d0;
}

.deleter {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial,sans-serif;
  font-size: smaller;
}

.deleter:hover {
  color: #7a1a17;
}

.itemlistname {
  font-family: Arial,sans-serif;
  text-decoration: none;
//  color: #7c9ae1;
}

#itemList {
  border: 0;
  border-spacing: 0;
  border-collapse:collapse;
  th {
    color: #899ab2;
    font-weight: normal;
    border-top: none;
    font-size: .8em;
  }
  .price {
    text-align: right;
    width: 4em;
    padding-left: .75em;
    padding-right: .25em;
  }
  td {
    border-top: none;
  }

  .qty {
    padding-left: 1.5em;
    width: 2em;

  }
}

th.ra {
  text-align: right;
//  padding-right: 1.5em;
}

#cartscreen {
  font-family: Arial,sans-serif;
}

#cartName {
  margin-bottom: 20px;
  margin-top: -10px;
}

#approvalgroup_entry {
  margin: 20px 5px;
  border-top: 1px solid #333333;
  padding-top: 5px;
}

.bodyclass {
  padding: 0;
  margin: 0;
  background-color: rgba(1, 1, 1, 0.01);
}

.overlay-panel {
  height: 100%;
  margin-bottom: 0;
  border-color: #888888;
  background-color: #efefef;
}

.cartTotal {
  font-weight: bold;
  text-align: right;
  margin-right: 4em;
}