body {
  font-family: helvetica, verdana, arial, sans-serif;
  margin: 1em;
  font-size: 14px;
}

h3 {
  color: #1b3089;
}

#instructions {
  margin: 1em 2em;
  padding: .2em 1em;
//  background-color: #eeeeee;
  border: 1px solid #333399;
  width: 30em;
}