body {
  font-family: helvetica, verdana, arial, sans-serif;
  margin: 1em;
  background-color: #eeeeee;
}

h3 {
  color: #B00100;
}

#instructions {
  margin: 1em 2em;
  padding: .2em 1em;
  background-color: #ddeedd;
  border: 1px solid #888888;
  width: 30em;
}