= render "layouts/notices"

- content_for :title, "Feedback Submitted"
.container.content
  %h3 Feedback Submitted
  %p
    Thank you for feedback submission.
    - if current_user
      We will reach out to you if we need additional details.
