<header>
  <div class='container'>
    <div id='header-identity'>
      <div id="communicart_logo">Communicart</div>
      <h1>Approval Portal</h1>
    </div>
    <%= render 'layouts/header_nav' %>
  </div>
</header>

<%- if return_to %>
  <%= render partial: 'shared/breadcrumb_nav', locals: {text: "Back to #{return_to[:name]}", href: return_to[:path]} %>
<%- elsif display_return_to_proposals %>
  <%= render partial: 'shared/breadcrumb_nav', locals: {text: "Back to main portal", href: proposals_path} %>
<% end %>
