<div id='communicart_header'>
  <div class='container'>
    <div id='header-identity'>
      <div id="communicart_logo">Communicart</div>
      <h1>Approval Portal</h1>
    </div>
    <%= render 'layouts/header_nav' %>
  </div>
</div>

<%- unless excluded_portal_link %>
  <ul id='breadcrumb-nav'>
    <%- if return_to %>
      <li><%= link_to "Back to " + return_to[:name], return_to[:path] %></li>
    <%- else -%>
      <li><%= link_to "Back to main portal", proposals_path %></li>
    <%- end %>
  </ul>
<%- end %>
