- if signed_in?
  %ul.inline-list.text-right.has-dividers.column
    %li
      = link_to current_user.email_address, profile_path
    - if current_user.any_admin?
      %li
        %a#summary-link{:href => "/summary"} Summary
    %li
      = button_to "Logout", "/logout", method: :post, class: "login-link"
