<!DOCTYPE html>
<html>
  <head>
    <title>C2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="<%= stylesheet_url("mailer_new.css") %>" />
    <%= render 'mail_shared/outlook_fix' %>
  </head>
  <body>
    <%= yield %>
    <%= render partial: "mail_shared/footer" %>
  </body>
</html>
