<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Communicart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="<%= stylesheet_url("mailer.css") %>">
</head>
<body class="communicart-notification">
  <%= yield %>
  <hr>
  <div id="footer" class="inset">
    <p>Find a bug, have a recommendation, or want to provide other feedback? We'd love to <a target="_blank" href="<%= feedback_url %>">hear from you!</a></p>
  </div>
</body>
</html>
